<template>
    <a-card :title="'Edit '+ template.name" >
        <a-tabs defaultActiveKey="1" type="card" >
            <a-tab-pane tab="Main Params" key="1">
                <mainParams :template="template" />
            </a-tab-pane>
            <a-tab-pane tab="Modules" key="2">
                <edit-modules :availableMods="availableMods"
                                      :templateMods.sync="templateMods" />
            </a-tab-pane>
        <a-tab-pane tab="Variables" key="3">
            <EditVars :vars.sync="template.vars" :envs="envs" />
        </a-tab-pane>
        <a-tab-pane tab="ticketing" key="4">
            <exchanges v-if='isReady'  :template.sync="template.name" />
        </a-tab-pane>
        </a-tabs>

        <a-button type="primary" icon="edit" @click="record">Record</a-button>
    </a-card>
</template>

<script>

import axios from '~/plugins/axios'
import _ from 'lodash';
import mainParams from '@/components/templates/main-params';
import editModules from '@/components/templates/modules';
import EditVars from '@/components/EditVars';
import exchanges from '@/components/templates/ticketing';
var getDefaultMods = function(){
}

export default {
    components : {
        mainParams,
        EditVars,
        editModules,
        exchanges,
    },
    data(){
        return {
            activeName: "mainParams",
            template: {},
            availableMods: [],
            templateMods: {},
            envs: []
        }
    },
    computed: {
        isReady(){
            return _.has(this.template, 'name')
        }
    },
    created(){
        const name = this.$route.params.name;
        axios.get('/api/templates/' + name)
            .then(response => {
                var templateMods = typeof response.data.mods != 'undefined'? response.data.mods: {};
                this.template = response.data;
                axios.get('/api/modules/actives')
                    .then(response => {
                        this.availableMods = response.data

                        for (var i=0; i < this.availableMods.length ; i++){
                            var module =  this.availableMods[i];
                            if(typeof templateMods[module.name]  == 'undefined') {
                                templateMods[module.name] = {}
                            };
                            for (var j = 0; j < module.cmds.length; j++){
                                var cmdName = module.cmds[j].name;
                                if (typeof templateMods[module.name][cmdName] == 'undefined') {
                                    templateMods[module.name][cmdName] = {run : ''}
                                }

                            };

                        }
                        this.templateMods = templateMods;

                    })
                    .catch(err => {
                        console.log(err)
                    })

                axios.get('/api/templates/' + name + '/envs')
                    .then(response => {
                        this.envs = response.data;
                    })
                    .catch(err => {
                        console.log(err)
                    })
            }).catch(error => {
                console.log(error);
            })
    },
    methods: {
        record() {
            console.log(Object.keys(this.template))
            var data = _.pick(this.template, ['name', 'vars', 'desc', 'platform'])
            data.mods = _.pickBy(_.mapValues(this.templateMods,
                                 function(mod) {return _.pickBy(mod, function(action){
                                        return action.run != ''
                                        })
                                 }), function(mod){return !_.isEmpty(mod)}
                        );
            axios.put('/api/templates/' + this.template.name, data)
                .then(response => {
                    console.log(response.data)
                    this.$message.success("template updated")
                }).catch(err => {
                    console.log(err)
                    this.$message.error( err.response.status + ': ' + error.response.data );
                })
        }
    }
}

</script>

<style>
</style>
