<template>
    <a-card title="Template list" >
         <a-table :columns="columns" :dataSource="templates"  :rowKey="record => record.name">
             <span slot="name" slot-scope="text">
                  <router-link class="sisyphe-link" :to="'/templates/' + text"> {{text}} </router-link>
             </span>
             <span slot="platform" slot-scope="text, record">
                 <router-link class="sisyphe-link" :to="'/platforms/' + text"> {{text}} </router-link>
             </span>
          </a-table>
    </a-card>
</template>

<script>
import _ from 'lodash';
import { mapGetters, mapActions} from 'vuex';

export default {
    data() {
        return {
            search: '',
            columns : [
                {title:'Name', dataIndex: 'name', scopedSlots: { customRender: 'name' }},
                {title:'Platform',dataIndex: 'platform', scopedSlots: { customRender: 'platform' }},
                {title: 'Description', dataIndex: 'desc'}
            ]

        }
    },
    computed: {
        ...mapGetters({
            templates: 'templates/get'

        }),
        ...mapActions({
            getTemplates: 'templates/getTemplates'
        }),
    },
    created() {
        if(_.isEmpty(this.templates)){
            this.getTemplates

        }
    }
}
</script>

<style>
</style>
