<template>
    <a-card title="Add new template" >
        <a-tabs defaultActiveKey="1" type="card" >
            <a-tab-pane tab="Main params" key="1">
                <a-form layout="horizontal">
                    <a-form-item label="Name" :label-col="{ span: 2}" :wrapper-col="{ span: 12 }">
                        <a-input v-model="template.name"></a-input>
                    </a-form-item>

                    <a-form-item label="Description" :label-col="{ span: 2}" :wrapper-col="{ span: 12 }">
                        <a-input v-model="template.desc"></a-input>
                    </a-form-item>

                    <a-form-item label="Platform name" :label-col="{ span: 2}" :wrapper-col="{ span: 12 }">
                        <a-select v-model="template.platform"  placeholder="Select a platform">
                            <a-select-option v-for="platform in platforms"
                                             :key="platform.name"
                                             >{{platform.name}} 
                                             </el-option>
                            </a-select-option>
                        </a-select>
                    </a-form-item>
                </a-form>
            </a-tab-pane>
        </a-tabs>
        <a-button type="primary" icon="edit" @click="record">Record</a-button>
    </a-card>
</template>

<script>
import axios from '~/plugins/axios'
import _ from 'lodash';
import { mapGetters, mapActions } from 'vuex';

export default {
    data(){
        return {
            activeName: "mainParams",
            template: {},
            envs: []
        }
    },
    computed: {
        ...mapGetters({
            platforms: 'platforms/get'

        }),
        ...mapActions({
            getPlatforms: 'platforms/getPlatforms'
        }),
    },

    created() {
        console.log(this.platforms)
        if(_.isEmpty(this.platforms)){
            this.getPlatforms
        }
    },
    methods: {
        record(){
            axios.post('/api/templates', this.template)
                .then(response => {
                    this.$message.success(response.data.message)
                    const name = response.data.name;
                    this.$router.push('/templates/' + name)
                })
                .catch(err => {
                    console.log('+++++++++++++++++++++++')
                    console.log(err)
                    console.log('+++++++++++++++++++++++')
                    this.$message.error( err.response.status + ': ' + err.response.data.error);
                })
        }
    }
}
</script>

<style>
</style>
