<template>
    <a-card :title="'Database for: ' + siteName" >
        <switchModule v-if="template.length != 0" :siteName="siteName"  from="database" :template="template" slot="extra" />
        <a-button type="primary" @click="dialogVisible = true" icon="info">Help</a-button>
        <a-tabs defaultActiveKey="1" type="card" >

            <!-- Get dump -->
            <a-tab-pane tab="Get dump" key="1">
                <a-form type="horizontal" >
                    <a-form-item label="Environnement" :label-col="{ span: 2}" :wrapper-col="{ span: 12 }">
                        <a-select v-model="GetdumpEnv" placeholder="Environnement">
                            <a-select-option  v-for="env in environments"
                                              :key="env">{{env}}
                            </a-select-option>
                        </a-select>					
                    </a-form-item>
                </a-form>
                <a-button type="primary" icon="edit" @click="getDump">Get</a-button>
            </a-tab-pane>

            <!-- Play from FTP  -->
            <a-tab-pane tab="Play from FTP" key="2">
                <a-form ref="byFtp" >
                    <a-form-item label="Environnement" :label-col="{ span: 2}" :wrapper-col="{ span: 12 }">
                        <a-select v-model="ftpEnv" placeholder="Environnement" @change="getFtpScripts">
                            <a-select-option v-for="env in environments"
                                             :key="env">{{env}}
                            </a-select-option>
                        </a-select>					
                    </a-form-item>
                    <a-form-item label="Script" :label-col="{ span: 2}" :wrapper-col="{ span: 12 }">
                        <a-select v-model="ftpScript" placeholder="script SQL">
                            <a-select-option  v-for="item in ftpScripts"
                                              :key="item">{{item}}
                            </a-select-option>
                        </a-select>					
                    </a-form-item>
                    <a-button type="primary" icon="edit" @click="playFTP">Run</a-button>
                </a-form>
            </a-tab-pane>

            <!-- Play by dragAndDrop -->
            <a-tab-pane tab="Play drag&drop" key="3">
                <a-form type="horizontal" >
                    <a-form-item label="Environnement" :label-col="{ span: 2}" :wrapper-col="{ span: 12 }">
                        <a-select v-model="ddEnv" placeholder="Environnement">
                            <a-select-option  v-for="env in environments"
                                              :key="env">{{env}}
                            </a-select-option>
                        </a-select>					
                    </a-form-item>
                    <a-form-item>
                <a-upload-dragger 
                                             name="file"
                                             :multiple="false"  
                                             class="uploader"
                                             :action="'/api/uploads/database/' + siteName"  
                                             :fileList="[]"
                                             :remove="handleRemove"
                                             @change="handleChange">

                    <p class="ant-upload-drag-icon">
                    <a-icon type="inbox" />
                    </p>
                    <p class="ant-upload-text">Click or drag file to this area to upload</p>

                </a-upload-dragger>
                    </a-form-item>
                    <a-form-item>

                <a-card > 
                    <a-table :columns="columns" :dataSource="fileList" key="name" 
                       :pagination="{hideOnSinglePage: true}">
                        <span slot="selected" slot-scope="text, record">
                            <a-checkbox v-model="record.selected"></a-checkbox>
                        </span>
                        <span slot="file" slot-scope="text, record">
                            <a-upload name="file" :multiple="false"  
                                      class="uploader"
                                      :action="'/api/uploads/database/' + siteName"  
                                      :fileList="[record]"
                                      listType="picture"
                                      :remove="handleRemove"
                                      @change="handleChange">
                            </a-upload>
                        </span>
                    </a-table>
                </a-card>
                    </a-form-item>
                </a-form>

                <a-button type="primary" icon="editi" @click="playDragAndDrop">Run</a-button>

            </a-tab-pane>


        </a-tabs>

    <router-link v-if="isNewJob()" :to="newJob.jobUrl" > job logs page</router-link>

    </a-card>
</template>

<script>
import axios from '~/plugins/axios'
import _ from 'lodash';
import switchModule from '@/components/actions/switchModule';

export default {
    components : {
        switchModule
    },
    data() {
        return {
            siteName: '',
            other_cmds: [],
            activeName: 'getDump',
            environments: [],
            ftpScripts: [],
            ftpScript: '',
            ftpEnv: '',
            GetdumpEnv: '',
            ddEnv: '',
            template: '',
            columns : [
                {title:'Select', dataIndex: 'selected', scopedSlots: { customRender: 'selected' }},
                {title:'Script',dataIndex: 'file', scopedSlots: { customRender: 'file' }},
            ],
            fileList: [],
            newJob: {}
        }
    },
    created() {
        this.siteName = this.$route.params.siteName;

        axios.get('/api/sites/' + this.siteName)
            .then(response => {
                this.template = response.data.template;
                axios.get('/api/templates/' + this.template + '/envs')
                    .then(response => {
                        this.environments =  response.data;
                    }).catch(error => {
                        console.log(error)
                        this.loading = false;
                    });
            }).catch(error => {
                console.log(error)
                this.loading =false;
                window.location = '/sites' 
            });
        this.getDeposit()
    },
    methods: {
        isNewJob(){
            return 'jobUrl' in this.newJob
        },
        getDeposit() {
            axios.get('/api/uploads/database/' + this.siteName)
                .then(response => {
                    this.fileList = _.map(response.data.files, file => {
                        return {name: file.name,
                            uid: file.name,
                            selected: true,
                            url: file.url}
                    })
                }).catch(error => {
                    this.fileList = []
                })
        },
        getDump() {
            let data = {
                siteName: this.siteName,
                environment: this.GetdumpEnv,
                module: 'database',
                action: 'getDump'
            }

            axios.post('/api/jobs', data)
                .then(response => {
                    console.log(response.data)
                    this.$message.success({
                        title: 'Job link',
                        dangerouslyUseHTMLString: true,
                        message: 'please follow it <a href=' + response.data.jobUrl +'>job queue</a>',
                        duration: 0,
                    })
                })
                .catch(error => {
                    this.$message.error('Error while puting request in queue')
                    console.log(error)
                });
        },
        getFtpScripts(){
            axios.get('/api/sites/' + this.siteName + '/ftp-files')
                .then(response => {
                    console.log(response.data)
                    this.ftpScripts = response.data;
                })
                .catch(error => {
                    this.$message.error('Error while requesting ftp content')
                    console.log(error)
                });

        },
        playFTP() {
            let data = {
                siteName: this.siteName,
                environment: this.ftpEnv,
                module: 'database',
                action: 'playFromFtp',
                file: this.ftpScript

            }
            axios.post('/api/jobs', data)
                .then(response => {
                    console.log(response.data)
                    this.$message.success('Job has been put in queu')
                })
                .catch(error => {
                    this.$message.error('Error while puting request in queue')
                    console.log(error)
                });
        },
        handleChange(info){
            this.getDeposit();
            if (info.file.status === 'done') {
                this.$message.success(`${info.file.name} file uploaded successfully`);
            } else if (info.file.status === 'error') {
                this.$message.error(`${info.file.name} file upload failed.`);
            }

        },
        handleRemove(file, fileList) {
            axios.delete(file.url)
                .then(response =>{
                    console.log(response.data)
                    return true;
                }).catch(err => {
                    console.log(err)
                    return false
                })

        },
        handleExceed() {},
        playDragAndDrop() {
            let toRun = this.fileList.filter(
                            fic => {return fic.selected}
                        ).map(fic =>{return fic.name})
            if (toRun.length === 0){
                this.$message.warning('No file selected')
                return false
            }
            const data = {
                siteName: this.siteName,
                environment: this.ddEnv,
                module: 'database',
                role: 'database',
                action: 'playDragAndDrop',
                files: toRun,
            }
            axios.post('/api/jobs', data)
                .then(response => {
                    console.log(response.data)
                    this.$message.success('Job has been put in queu')
                    this.newJob = response.data;
                })
                .catch(error => {
                    this.$message.error('Error while puting request in queu')
                    console.log(error)
                });
        },

    }
}
</script>

<style>
</style>
