<template>
    <a-card  title="Server Edit" >
        <ServerParams :server.sync="server" />
        <a-button type="primary" icon="a-icon-edit" @click="record">Record</a-button>
    </a-card>
</template>

<script>
import axios from '~/plugins/axios'
import _ from 'lodash';
import ServerParams from '@/components/servers/params.vue';

export default {
    components: {
        ServerParams
    },
    data() {
        return {
            server: {},
        }
    },
    created() {
        axios.get('/api/servers/' + this.$route.params.name)
            .then(response => {
                this.server = response.data
            })
            .catch(error => {
                console.log(error)
            })
    },
    methods: {
        record() {
            axios.put('/api/servers/' + this.server.name, _.omit(this.server, 'id'))
                .then(response => {
                    this.$message.success("server updated")
                })
                .catch(error => {
                    this.$message.error( error.message );
                })
        },
    }
}
</script>

<style>
</style>
