<template>
    <a-card title="Servers list" >
         <a-table :columns="columns" :dataSource="servers">
             <span slot="name" slot-scope="text, record">
                  <router-link class="sisyphe-link" :to="'/servers/' + record.id"> {{text}} </router-link>
             </span>
          </a-table>
    </a-card>
</template>

<script>
import axios from '~/plugins/axios'

export default {
    data() {
        return {
            servers: [],
            search: '',
            loading: true,
            columns : [
                {title:'Name', dataIndex: 'name', scopedSlots: { customRender: 'name' }},
                {title:'Resolvable name',dataIndex: 'dns'},
            ]
        }
    },

    asyncData (){
        return axios.get('/api/servers')
            .then(response => {
                return {servers: response.data,
                    loading: false}
            }).catch(error => {
                console.log(error)
                return {loading: false}
            })
    }
}
</script>

<style>
</style>
