<template>
    <a-card  title="Add Edit" > 
        <ServerParams :server.sync="server" />
        <a-button type="primary" icon="edit" @click="record">Record</a-button>
    </a-card>
</template>

<script>
import axios from '~/plugins/axios'
import ServerParams from '@/components/servers/params.vue';

export default {
    components: {
        ServerParams
    },
    data() {
        return {
            server: {},
        }
    },
    methods: {
        record() {

            axios.post('/api/servers', this.server)
            .then(response => {
                this.$message.success("Sever recorded")
            })
            .catch(error => {
                this.$message.error( error.response.status + ': ' + error.response.data.error );
            });
        }
    }
}
</script>

<style>
</style>
