<template>
    <a-card :title="'Edit '+ platform.name" >
        <a-tabs v-if="platformFound" defaultActiveKey="1" type="card" >
            <a-tab-pane tab="Main Params" key="1">
                <MainParams :platform="platform" :companies="companies" />
            </a-tab-pane>
            <a-tab-pane tab="Environments" key="2">
                <PlatformEnvs :platformServers.sync="platform.servers" :all_servers="all_servers" />
            </a-tab-pane>
            <a-tab-pane tab="vars" key="3">
                <EditVars :vars.sync="platform.vars" :envs="Object.keys(platform.servers)" />
            </a-tab-pane>
        </a-tabs>
        <a-button type="primary" icon="edit" @click="record">Record</a-button>
    </a-card>
</template>

<script>
import axios from '~/plugins/axios'
import _ from 'lodash';
import MainParams from '@/components/platform/main-params';
import EditVars from '@/components/EditVars';
import PlatformEnvs from '@/components/platform/envs';


export default {
    components : {
        MainParams,
        PlatformEnvs,
        EditVars,
    },
    data() {
        return {
            activeName: 'mainParams',
            platform: {},
            all_servers: [],
            companies: [],
            new_env: "",
            new_role: "",
            editorEnv: {},
            platformFound: false
        }
    },
    created() {
        axios.get('/api/platforms/' + this.$route.params.name)
            .then(response => {
                console.log(response.data)
                this.platform = response.data;
                this.platformFound = true;
                axios.get('/api/servers')
                    .then(response => {
                        this.all_servers = response.data;
                    }).catch(error => {
                        console.log(error)
                    });
            }).catch(error => {
                console.log(error);
            })

    },
    methods: {
        record(){
            console.log(JSON.stringify(this.platform))
            this.platform.envs = Object.keys(this.platform.servers);
            axios.put('/api/platforms/' + this.platform.name, _.omit(this.platform, '_id'))
                .then(response => {
                    this.$message.success('platform updated')
                })
                .catch(error => {
                    this.$message.error( error.response.status + ': ' + error.response.data.error );
                });
        }
    }
}
</script>

<style>
</style>
