<template>
    <div>
    <a-card title="Platforms list"   >
         <a-table :columns="columns" :dataSource="platforms">
             <span slot="name" slot-scope="text, record">
                  <router-link class="sisyphe-link" :to="'/platforms/' + text"> {{text}} </router-link>
             </span>
          </a-table>
    </a-card>
    </div>
</template>

<script>
    import axios from '~/plugins/axios'
    import _ from 'lodash';

    export default {
        data() {
            return {
                platforms: [],
                search: '',
                 columns : [
                     {title:'Name', dataIndex: 'name', scopedSlots: { customRender: 'name' }},
                     {title:'Description',dataIndex: 'desc'},
                    ]
            }
        },
        created() {
            axios.get('/api/platforms')
                .then(response => {
                    console.log(response.data);
                    this.platforms = response.data;
                }).catch(error => {
                    console.log(error)
                })
        },
    }
</script>

<style>
</style>
