<template>
    <a-card title="Add platform" >
        <a-tabs defaultActiveKey="1" type="card" >
            <a-tab-pane tab="Main Params" key="1">
                <MainParams :platform="platform" />
            </a-tab-pane>
            <a-tab-pane tab="Environments" key="2">
                <PlatformEnvs :platformServers.sync="platform.servers" :all_servers="all_servers" />
            </a-tab-pane>
        </a-tabs>
        <a-button type="primary" icon="edit" @click="record">Record</a-button>
    </a-card>
</template>

<script>
import axios from '~/plugins/axios'
import _ from 'lodash';
import MainParams from '@/components/platform/main-params';
import PlatformEnvs from '@/components/platform/envs';

export default {
    components : {
        MainParams,
        PlatformEnvs,
    },
    data() {
        return {
            activeName: 'mainParams',
            all_servers: [],
            platform: {servers: []},
        }
    },
    created() {
         axios.get('/api/servers')
             .then(response => {
                 this.all_servers = response.data;
             }).catch(error => {
                 console.log(error)
             });

    },
    methods: {
        record(){
            console.log(JSON.stringify(this.platform))
            this.platform.envs = Object.keys(this.platform.servers);
            axios.post('/api/platforms', this.platform)
                .then(response => {
                    this.$message.success("platform recorded")
                })
                .catch(error => {
                    this.$message.error( error.response.status + ': ' + error.response.data.error );
                });
        }
    }
}
</script>

<style>
</style>
