<template>
    <a-row>
        <a-col :span="16">
            <a-form ref="server" :model="localServer" laba-width="120px">
                <a-form-item label="Name"
                             :label-col="{ span: 3}"
                             :wrapper-col="{ span: 12 }">
                    <a-input v-model="localServer.name"> </a-input>
                </a-form-item>
                <a-form-item label="dns"
                             :label-col="{ span: 3}"
                             :wrapper-col="{ span: 12 }">
                    <a-input v-model="localServer.dns"> </a-input>
                </a-form-item>
                <a-form-item label="Sort priority"
                             :label-col="{ span: 3}"
                             :wrapper-col="{ span: 3 }">
                    <a-select v-model="localServer.sort_priority">
                        <a-select-option  v-for="n in sortArray"
                                          :key="n"
                                          :value="n">{{n}}
                        </a-select-option>
                    </a-select>
                </a-form-item>

            </a-form>
        </a-col>
    </a-row>
</template>

<script>
export default {
    props: ['server'],
    data() {
        return {
            sortArray: [0,1,2,3]
        }
    },
    computed: {
        localServer: {
            get() {
                return this.server;
            },
            set(value) {
                this.$emit('update:server', value) 
            }
        }
    },
    methods: {
    }
}
</script>
