<template>
    <a-table :dataSource="envsTab" style="width: 100%" rowKey="name">
        <a-table-column type="expand">
            <template slot-scope="props">
                <a-table :data="typeTab(props.row.env)" style="width: 80%">
                    <a-table-column type="expand">
                        <template slot-scope="ctype">
                            <p>Login: {{credentials[props.row.env][ctype.row.type].login}} </p>
                            <p>Password: {{credentials[props.row.env][ctype.row.type].password}} </p>
                            <p v-if="credentials[props.row.env][ctype.row.type].database" >Database: {{credentials[props.row.env][ctype.row.type].database}} </p>

                        </template>
                    </a-table-column >
                    <a-table-column label="" prop="type" >
                    </a-table-column >
                </a-table >
            </template>
        </a-table-column >
        <a-table-column
            label="Environment"
            prop="env">
        </a-table-column>
    </a-table >
</template>

<script>
import _ from 'lodash';
export default {
    props : ['credentials'],
    data() {
        return {
        }
    },
    methods: {
        typeTab: function(env){return _.map(_.keys(this.credentials[env]),  (item) => {return { type: item}})}
    },
    computed: {
        envsTab: function (){ return _.map(_.keys(this.credentials), (item) => {return { env: item}})},
    }
}
</script>

<style>
</style>
