<template>
    <div>
        <a-form layout="horizontal">
            <a-form-item label="Name" :label-col="{ span: 2}" :wrapper-col="{ span: 12 }">
                <a-input v-model.trim="site.name" :disabled="!isNewSite"></a-input>
            </a-form-item>
            <a-form-item label="Main URI" :label-col="{ span: 2}" :wrapper-col="{ span: 12 }">
                <a-input v-model.trim="site.url" :disabled="!isNewSite"></a-input>
            </a-form-item>
            <a-form-item label="Template" :label-col="{ span: 2}" :wrapper-col="{ span: 12 }">
                <a-select v-model="site.template" placeholder="Select" :disabled="!isNewSite">
                    <a-select-option v-for="template in templates"
                                     :key="template.name"
                                     >{{template.name}}
                    </a-select-option>
                </a-select>
            </a-form-item>
            <a-form-item label="Project" :label-col="{ span: 2}" :wrapper-col="{ span: 12 }">
                <a-select v-model="site.id_project" placeholder="Select" :disabled="!isNewSite">
                    <a-select-option v-for="project in projects"
                                     :key="project.Id"
                                     >{{project.name}}
                    </a-select-option>
                </a-select>
            </a-form-item>
            <a-form-item label="Webagency" v-if="webagencies.length > 0" :label-col="{ span: 2}" :wrapper-col="{ span: 12 }">
                <a-select v-model="site.webagency" placeholder="Select" >
                    <a-select-option v-for="webagency in webagencies"
                                     :key="webagency.name"
                                     >{{webagency.name}}
                    </a-select-option>
                </a-select>
            </a-form-item>
            <a-form-item label="Others URIs" :label-col="{ span: 2}" :wrapper-col="{ span: 12 }">
                <a-textarea v-model="site.aliases"
                            placeholder="aliases url ( one alias per line)"
                            :autosize="{ minRows: 4,  maxRows: 6 }" />
            </a-form-item>
        </a-form>
    </div>
</template>

<script>
export default {
    props: ['site', 'templates', 'projects', 'webagencies', 'isNewSite']
}
</script>
