<template>
    <a-dialog title="Edit cron" :visible.sync="localVisible" width="70%">
        <a-table :columns="columns_main" :dataSource="crontab.env">
            <template slot="minute" slot-scope="minute">
                <a-select defaultValue="*" v-model='crontab[index].envs[scope.row.env].minute'>
                    <a-select-option v-for="min in minutes" :key='min'  :value='min' :label='min'></a-select-option>
                </a-select>
            </template>
            <template slot="hour" slot-scope="hour">
                <a-select defaultValue="*" v-model='crontab[index].envs[scope.row.env].hour'>
                    <a-select-option v-for="hour in hours" :key='hour'  :value='hour' :label='hour'></a-select-option>
                </a-select>
            </template>
            <template slot="day" slot-scope="day">
                <a-select defaultValue="*" v-model='crontab[index].envs[scope.row.env].day'>
                    <a-select-option v-for="day in days" :key='day'  :value='day' :label='day'></a-select-option>
                </a-select>
            </template>
            <template slot="weekday" slot-scope="weekday">
                <a-select defaultValue="*" v-model='crontab[index].envs[scope.row.env].weekday'>
                    <a-select-option v-for="weekday in  weekdays" :key='weekday'  :value='weekday' :label='weekday'></a-select-option>
                </a-select>
            </template>
            <template slot="mounth" slot-scope="mounth">
                <a-select defaultValue="*" v-model='crontab[index].envs[scope.row.env].mounth'>
                    <a-select-option v-for="mounth in  mounths" :key='mounth'  :value='mounth' :label='mounth'></a-select-option>
                </a-select>
            </template>
            <template slot="state" slot-scope="state">
                <a-select defaultValue="*" v-model='crontab[index].envs[scope.row.env].state'>
                    <a-select-option v-for="state in  ['present','abscent']" :key='state'  :value='state' :label='state'></a-select-option>
                </a-select>
            </template>
        </a-table>
        <span slot="footer" class="dialog-footer">
            <el-button @click="localVisible = false">Close</el-button>
        </span>
    </a-dialog>
</template>

<script>
import {
    mapGetters,
    mapActions
} from 'vuex';
export default {
    props: ['cron', 'editVisible'],
    data() {
        return {
            variables: [],
            columns : [
                {title:'Minute', dataIndex: 'minute', scopedSlots: { customRender: 'minute' }},
                {title:'Hour',dataIndex: 'hour', scopedSlots: { customRender: 'hour' }},
                {title:"Month's day", dataIndex: 'day', scopedSlots: { customRender: 'day' }},
                {title:'Month',dataIndex: 'month', scopedSlots: { customRender: 'month' }},
                {title:"Week's day",dataIndex: 'weekday', scopedSlots: { customRender: 'weekday' }},
                {title:"status",dataIndex: 'state', scopedSlots: { customRender: 'state' }},
            ]
        }
    },
    computed: {
        localVisible: {
            get() { return this.editVisible },
            set(value) { this.$emit('update:editVisible', value)}
        },

    },
}
</script>
