
<template>
    <a-form layout="horizontal">
        <a-form-item label="Environnement">
            <a-select v-model="selectedEnv" placeholder="Environnement"  @change="handleSwitchEnv">
                <a-select-option
                    v-for="env in environments"
                    :key="env"
                    :value="env">{{env}}
                </a-select-option>
            </a-select>					
        </a-form-item>
        <a-form-item label="Select the package">
            <a-select v-model="selectedPackage"
                       placeholder="Chose a package"
                       @change="handlePackage">
                <a-select-option
                    v-for="item in packagesFTP"
                    :key="item">{{item}}
                </a-select-option>
            </a-select>					
        </a-form-item>
        <a-form-item label="" v-if="goFtpVisible">
            <el-button type="primary" @click="deployFTP">Go</el-button>
        </a-form-item>
    </a-form>
</template>
<script>
import axios from '~/plugins/axios';
import _ from 'lodash';

export default {
    props: ['siteName', 'environments'],
    data() {
        return {
            activeName: "addVar",
            new_var: "",
            selectedEnv: "",
            selectedPackage: "",
            goFtpVisible: false,
            packagesFTP: []
        }
    },
    methods: {
        handleSwitchEnv(){
            axios.get('/api/ftp/package?site='+ this.siteName + '&env=' + this.selectedEnv)
                .then(response => {
                    console.log(response.data)
                    this.packagesFTP = response.data;
                })
                .catch(error => {
                    this.$message.error('Error while requesting ftp content')
                    console.log(error)
                });
        },
        handlePackage(){
            // check here if package is OK 
            this.goFtpVisible = true;
        },
        deployFTP(){
            let data = {
                siteName: this.siteName,
                environment: this.selectedEnv,
                module: 'deployPackages',
                action: 'playFromFtp',
                file: this.selectedPackage

            }
            axios.post('/api/jobs', data)
                .then(response => {
                    console.log(response.data)
                    this.$notify.success({
                        title: 'Job link',
                        dangerouslyUseHTMLString: true,
                        message: 'please follow it <a href='+ response.data.jobUrl +'>job queue</a>',
                        duration: 0,
                    })
                })
                .catch(error => {
                    this.$message.error('Error while puting request in queue')
                    console.log(error)
                });
        },
    }
}
</script>

