<template>
    <a-form type="horizontal">
        <a-form-item label="Environnement">
            <a-select v-model="selectedEnv" placeholder="Environment">
                <a-select-option  v-for="env in environments"
                                  :key="env">{{env}}
                </a-select-option>
            </a-select>					
        </a-form-item>
        <a-upload name="file" :multiple="false"  
                  class="uploader"
                  :action="urlDeposit"  
                  :fileList="fileList"
                  :defaultFileList="fileList" 
                  :remove="handleRemove"
                  @change="handleChange">


            <a-button>
                <a-icon type="upload" /> Click to Upload
            </a-button>
        </a-upload>
    </a-form>
</template>
<script>
import axios from '~/plugins/axios'
import _ from 'lodash';

export default {
    props: ['siteName', 'environments'],
    data() {
        return {
            activeName: "addVar",
            new_var: "",
            selectedEnv: "",
            fileList: [],
            goFtpVisible: false
        }
    },
    computed:{
        urlDeposit(){
            return '/api/uploads/package/' + this.siteName
        }
    },
    created() {
        this.getDeposit();
    },
    methods: {
        getDeposit() {
            axios.get('/api/uploads/package/' + this.siteName)
                .then(response => {
                    this.fileList = _.map(response.data.files, file => {
                        return {name: file.name,
                            uid: file.name,
                            url:  file.url}
                    })
                }).catch(error => {
                    this.fileList = []
                })
        },
        handlePreview(file) {
            window.location = file.url
        },
        handleChange(info){
            this.getDeposit();

        },
        beforeRemove(){},
        handleRemove(file, fileList) {
            axios.delete(file.url)
                .then(response =>{
                    console.log(response.data)
                    return true;
                }).catch(err => {
                    console.log(err)
                    return false
                })

        },
    }
}
</script>
