<template>
    <div>
        <a-form  type="horizontal" >
            <a-form-item label="Environnement">
                <a-select v-model="selectedEnv" placeholder="Environnement" @change="getTree" style='width: 120px'>
                    <a-select-option  v-for="env in environments"
                                      :key="env">{{env}}
                    </a-select-option>
                </a-select>
            </a-form-item>
        </a-form>
        <a-row >
            <a-col :span="4">
                <a-upload name="file" :multiple="false"  
                          class="uploader"
                          :action="urlDeposit"  
                          :fileList="[]"
                          :remove="handleRemove"
                          @change="handleChange">


                    <a-button type="default">
                        <a-icon type="upload" /> Click to Upload
                    </a-button>
                </a-upload>
            </a-col>
            <a-col :span="16">
         <a-table :columns="columns" :dataSource="fileList">
             <span slot="path" slot-scope="text, record">
                 <a-input-group compact>
                    <a-button @click="pathSelect(record)">path: </a-button>
                        {{text}}
                 </a-input-group>
             </span>
             <span slot="file" slot-scope="text, record">
                <a-upload name="file" :multiple="false"  
                          class="uploader"
                          :action="urlDeposit"  
                          :fileList="[record]"
                          :remove="handleRemove"
                          @change="handleChange">
                </a-upload>
             </span>
          </a-table>
            </a-col>
        </a-row>
        <a-modal title="Select path"  v-model="selectPathVisible"  @ok="varOnScope()" >
				<a-tree
                    :multiple="false"
                    :checkStrictly="true"
                    :replaceFields="treeKeys"
                    :treeData="tree"
                     @select="onSelect"
				 />
        </a-modal>
                <a-button type="primary" @click="runFileByFile">Deploy</a-button>
    <router-link v-if="isNewJob()" :to="newJob.jobUrl" > job logs page</router-link>
    </div>
</template>
<script>
import axios from '~/plugins/axios'
import _ from 'lodash';
import VTreeselect from 'vue-treeselect';

const getPathFromRoot = (rootNode, targetInode) => {
  if (rootNode.inode === targetInode) return rootNode.name;
  if (rootNode.type === "file") return undefined;

  let result = undefined;

  for (let i = 0; !result && i < rootNode.contents.length; i++) {
    result = searchPathInNode(rootNode.contents[i], targetInode, rootNode.name);
  }

  return result;
};

const searchPathInNode = (node, targetInode, currentPath) => {
  if (node.inode === targetInode) return `${currentPath}/${node.name}`;
  if (node.type === "file") return undefined;

  let result = undefined;

  for (let i = 0; !result && i < node.contents.length; i++) {
    result = searchPathInNode(
      node.contents[i],
      targetInode,
      `${currentPath}/${node.name}`
    );
  }

  return result;
};

export default {
    props: ['siteName', 'environments'],
    components: {
        VTreeselect
    },
    computed: {
        localEnvs: {
            get() {
                return this.environments;
            }
        },
    },
    data() {
        return {
            activeName: "rsync",
            tree: [],
            selectedEnv: '',
            template: '',
            fileList: [],
            todoDeployFiles: {},
            columns : [
                {title:'Path', dataIndex: 'path', scopedSlots: { customRender: 'path' }},
                {title:'File',dataIndex: 'file', scopedSlots: { customRender: 'file' }},
            ],
            treeKeys: {
                children:'contents',
                title:'name',
                key:'inode'
            },
            currentInode: 0,
            currentFile: "",
            selectPathVisible: false,
            newJob: {}
        }
    },
    computed:{
        urlDeposit(){
            return '/api/uploads/files/' + this.siteName
        }
    },
    created() {
        this.getDeposit();
    },
    methods: {
        isNewJob(){
            return 'jobUrl' in this.newJob
        },
        getDeposit() {
            axios.get('/api/uploads/files/' + this.siteName)
                .then(response => {
                    this.fileList = _.map(response.data.files, file => {
                        return {name: file.name,
                            uid: file.name,
                            url:  file.url}
                    })
                }).catch(error => {
                    this.fileList = []
                })
        },
        handlePreview(){
            window.location = file.url
        },
        handleChange(info){
            console.log(info.file.status)
            console.log(info);
            this.getDeposit();

        },
        handleRemove(){
        },
        handleRemove(file, fileList) {
            axios.delete(file.url)
                .then(response =>{
                    console.log(response.data)
                    return true;
                }).catch(err => {
                    console.log(err)
                    return false
                })

        },
		getTree(){
            this.toEnv = '';
            axios.get('/api/sites/' + this.siteName + '/tree?dir_only=true')
                .then(response => {
                    this.tree = response.data
                })
                .catch(error => {
                    console.log(error)
                })

		},
        pathSelect(record) {
            console.log(record.name)
            this.currentFile = record.name
            this.selectPathVisible = true
        },
        varOnScope(){
            this.selectPathVisible = false
            var tmp = _.map(this.fileList, file => {
                if(file.name === this.currentFile){
                    file.path = getPathFromRoot(this.tree[0],  this.currentInode )
                }
                console.log(file)
                return file
            })
            console.log(tmp)
            this.fileList = tmp
        },
		onSelect(key){
            console.log(key)
            this.currentInode = key[0]
        },

        runFileByFile(){
            let selected = this.fileList.filter(fic => {return typeof(fic.path) !== 'undefined'} );
            if (selected.length === 0){
                this.$message.warning('No path/file selected')
                return false
            }
            let data = {
                siteName: this.siteName,
                files: _.map(selected, fic => {return _.pick(fic, ['name', 'path'])}),
                module: 'deployFiles',
                action: 'dragAndDrop',
                environment: this.selectedEnv,
                role: 'web'
            };
            axios.post('/api/jobs', data)
                .then(response => {
                    console.log(response.data)
                    this.$message.success('Job has been put in queu')
                    this.newJob = response.data;
                })
                .catch(error => {
                    this.$message.error('Error while puting request in queu')
                    console.log(error)
                });


        },
    }

}
</script>
