<template>
	<div>
		<a-form layout="inline"  >
			<a-form-item label="From" >
				<a-select v-model="fromEnv" placeholder="From env" @change="getTree" style='width: 120px'>
					<a-select-option  v-for="env in localEnvs"
									  :key="env">{{env}}
					</a-select-option>
				</a-select>					
			</a-form-item>
			<a-form-item label="To" >
				<a-select v-model="toEnv" placeholder="To env" style='width: 120px'>
					<a-select-option  v-for="env in toEnvs"
									  :key="env">{{env}}
					</a-select-option>
				</a-select>					
			</a-form-item>
		</a-form>
		<a-row :gutter="20">
            <a-col :span="12">
			<a-card class="box-card">
				<a-tree
                    :checkable="true"
                    :checkStrictly="true"
                    :replaceFields="treeKeys"
                    :treeData="tree"
                     @check="onSelect"
				 >
				</a-tree>
			</a-card>
			</a-col>
			<a-col title="Selected paths">
					<div v-for="path in selectedPaths"  class="text item">
						{{path}}
					</div>
				</a-card>
			</a-col>
		</a-row>
        <a-button type="primary" @click="runRsync">Run</a-button>
    <router-link v-if="isNewJob()" :to="newJob.jobUrl" > job logs page</router-link>
	</div>
</template>
<script>
import axios from '~/plugins/axios'
import _ from 'lodash';
import VTreeselect from 'vue-treeselect';

const getPathFromRoot = (rootNode, targetInode) => {
  if (rootNode.inode === targetInode) return rootNode.name;
  if (rootNode.type === "file") return undefined;

  let result = undefined;

  for (let i = 0; !result && i < rootNode.contents.length; i++) {
    result = searchPathInNode(rootNode.contents[i], targetInode, rootNode.name);
  }

  return result;
};

const searchPathInNode = (node, targetInode, currentPath) => {
  if (node.inode === targetInode) return `${currentPath}/${node.name}`;
  if (node.type === "file") return undefined;

  let result = undefined;

  for (let i = 0; !result && i < node.contents.length; i++) {
    result = searchPathInNode(
      node.contents[i],
      targetInode,
      `${currentPath}/${node.name}`
    );
  }

  return result;
};


export default {
    props: ['siteName', 'environments', 'paths'],
	components: {
		VTreeselect
	},
	computed: {
		localEnvs: {
			get() {
				return this.environments;
			}
		},
        toEnvs: function () {
                return _.without(this.localEnvs, this.fromEnv)
        }
	},
	data() {
		return {
			activeName: "rsync",
            treeKeys: {
                children:'contents',
                title:'name',
                key:'inode'
            },
			env: '',
			fromEnv: '',
			toEnv: '',
			treeProps: '',
			tree: [],
			selectItem: [],
            selectedPaths: [],
            newJob: {}
		}
	},
	created() {
	},
	methods: {
        isNewJob(){
            return 'jobUrl' in this.newJob
        },
		onSelect(keys){
            console.log(keys)
            console.log(keys.checked)
            this.selectedPaths = _.map(keys.checked, inode => { return getPathFromRoot(this.tree[0], inode)})
            console.log(_.map(keys.checked, inode => { return getPathFromRoot(this.tree[0], inode)}))
		},
		getTree(){
            this.toEnv = '';
            axios.get('/api/sites/' + this.siteName + '/tree')
                .then(response => {
                    this.tree = response.data
                })
                .catch(error => {
                    console.log(error)
                })

		},
        runRsync(){
            console.log(this.selectedPaths)
            if (this.selectedPaths.length === 0){
                this.$message.warning('No path/file selected')
                return false
            }
            let data = {
                siteName: this.siteName,
                paths: this.selectedPaths,
                module: 'deployFiles',
                action: 'rsync',
                environment: this.toEnv,
                role: 'web'
            };
            axios.post('/api/jobs', data)
                .then(response => {
                    console.log(response.data)
                    this.$message.success('Job has been put in queu')
                    this.newJob = response.data;
                })
                .catch(error => {
                    this.$message.error('Error while puting request in queu')
                    console.log(error)
                });

        }
	}

}
</script>
