<template>
    <el-select v-model="selected" placeholder="Environnement" @change="switchEnv">
        <el-option  v-for="env in environments"
                    :key="env"
                    :label="env"
                    :value="env">
        </el-option>
    </el-select>
</template>
<script>
export default {
    props: ['envs', 'selected'],
    data() {
        return {
        }
    },
    computed: {
        localEnvs: {
            get() {
                return this.envs;
            }
        },
        localSelected: {
            get() {
                return this.selected;
            },
            set(value) {
                this.$emit('update:selected', value) 
            }
        }
    },
    methods: {


    },
}
</script>
