<template>
    <a-dropdown>
        <a class="ant-dropdown-link" href="#">
            Need another module<a-icon type="down" />
        </a>
                <a-menu slot="overlay">
                    <a-menu-item v-for="action in switches"  :key="action" >
                        <router-link :to="'/actions/' + action + '/' + siteName">
                            {{action}}
                        </router-link>
                    </a-menu-item>
                </a-menu>
    </a-dropdown>
</template>
<script>
import axios from '~/plugins/axios'
import _ from 'lodash';
import { mapGetters, mapState, mapActions} from 'vuex';


export default {
    props: ['siteName', 'from', 'template'],
    data() {
        return {
            switches: []
        }
    },
    computed: {
        ...mapGetters({
            getAmods: 'sitesconf/amods'

        }),
        ...mapActions({
            storeTplAmod: 'sitesconf/addTplAmod'
        })
    },
    created(){
        var currentCmds = this.getAmods[this.template];
        if(_.isUndefined(currentCmds)){
            axios.get('/api/templates/amods?name=' + this.template)
                .then(response => {
                    this.$store.commit('sitesconf/ADD_AMODS', response.data)
                    this.switches = _.without(response.data.mods, this.template)
                })
        }else{
            this.switches = _.without(currentCmds, this.from)
        }

    }
}
</script>
