<template>
    <el-dropdown-menu slot="dropdown"  >
        <el-dropdown-item v-for="module in switches" key="module" >
            <template slot-scope="scope">
                <router-link :to="'/actions/' + module + '/' + siteName">{{module}}</router-link>
            </template>
        </el-dropdown-item>
    </el-dropdown-menu>
</template>
<script>
import axios from '~/plugins/axios'
import _ from 'lodash';


export default {
    props: ['siteName', 'templates'],
    data() {
        return {
            switches: []
        }
    },
    created(){
        var currentCmds = this.$store.state.tplActions.cmds[this.template];
        if(_.isUndefined(currentCmds)){
            axios.get('/api/templates/amods?name=' + this.template)
                .then(response => {
                    this.$store.commit('tplActions/add', response.data.template)
                    this.switches = _.without(response.data.template.amods, this.template)
                })
        }else{
            this.switches = _.without(currentCmds, this.template)
        }

    }
}
</script>
