<template>
    <div>
        <a-form layout="horizontal">
            <a-form-item label="Email" :label-col="{ span: 2}" :wrapper-col="{ span: 12 }">
                <a-input v-model.trim="localUser.email" :disabled="!isNewUser"></a-input>
            </a-form-item>
            <a-form-item label="Name" :label-col="{ span: 2}" :wrapper-col="{ span: 12 }">
                <a-input v-model.trim="localUser.name" ></a-input>
            </a-form-item>
            <a-form-item label="Role" :label-col="{ span: 2}" :wrapper-col="{ span: 12 }">
                <a-select v-model="localUser.role" placeholder="Select">
                    <a-select-option v-for="role in roles"
                                     :key="role"
                                     >{{role}}
                    </a-select-option>
                </a-select>
            </a-form-item>
            <a-form-item v-if="isNewUser" label="Password" :label-col="{ span: 2}" :wrapper-col="{ span: 12 }">
                <a-input v-model.trim="localUser.password" type="password" ></a-input>
            </a-form-item>
        </a-form>
    </div>
</template>

<script>
export default {
    props: ['user', 'isNewUser'],
    data() { 
        return {
            roles: ['admin', 'user']
        }
    },
    computed: {
        localUser: {
            get() {
                return this.user;
            },
            set(value) {
                this.$emit('update:user', value) 
            }
        },
    },
}
</script>
