<template>
    <div>
        <a-form  layout="inline" @submit.native.prevent>
            <a-form-item label="New Env">
                <a-input v-model.trim="new_env"></a-input>
            </a-form-item>
            <a-form-item>
                <a-button type="primary" @click="addEnv">Add</a-button>
            </a-form-item>
            <a-form-item label="New role">
                <a-input v-model.trim="new_role"></a-input>
            </a-form-item>
            <a-form-item>
                <a-button type="primary" @click="addRole">Add</a-button>
            </a-form-item>
        </a-form >
        <br>
        <a-tabs type="card">
            <a-tab-pane  v-for="(roles, env) in localEnvs" :tab="env" :key="env" >
                <a-form  layout="horizontal" >
                    <a-form-item v-for="(servers, role_name) in roles" :label="role_name" :key="role_name"
                         :label-col="{ span: 2}" :wrapper-col="{ span: 22 }">
                        <a-select v-model="localEnvs[env][role_name]"  mode="multiple" placeholder="select servers" >
                            <a-select-option
                                v-for="server in all_servers"
                                :key="server.name"
                                :value="server.name">{{server.name}}
                            </a-select-option>
                        </a-select>
                    </a-form-item>
                </a-form>
            </a-tab-pane>
        </a-tabs>
    </div>
</template>

<script>
import _ from 'lodash';

var getCurrrentRoles = function(roles){
    var rolesObject = {}
    if(_.isUndefined(roles)){
        roles = ["web", "bdd"];
    }
    _.each(roles, function(role){rolesObject[role] = new Array()})
    return rolesObject
}


export default {
    props: ['platformServers', 'all_servers'],
    data(){
        return {
            new_role: "",
            new_env: "",
            currentRoles: []
        }
    },
    computed: {
        localEnvs: {
            get() {
                return this.platformServers;
            },
            set(value) {
                this.$emit('update:platformServers', value) 
            }
        }
    },
    methods: {
        addEnv() {
            this.currentRoles = _.keys(this.localEnvs[_.keys(this.localEnvs)[0]]);
            var newEnv = {};
            newEnv[this.new_env] = getCurrrentRoles(this.currentRoles);
            console.log(JSON.stringify(newEnv))
            const newEnvs = _.extend({}, this.localEnvs, newEnv)
            this.localEnvs = newEnvs
        },
        addRole() {
            var newRole = {};
            newRole[this.new_role] = [];
            const Envs = this.localEnvs;
            const newEnvs = _.mapValues(Envs, function(val) {return _.extend({}, val, newRole)});
            this.localEnvs = newEnvs;
            this.currentRoles.push(this.new_role)
        }
    }
}
</script>
