<template>
    <a-form
        :model="platform"
        >
        <a-form-item label="Name" :label-col="{ span: 2}" :wrapper-col="{ span: 12 }">
            <a-input v-model.trim="platform.name"></a-input>
        </a-form-item>
        <a-form-item label="Description" :label-col="{ span: 2}" :wrapper-col="{ span: 12 }">
            <a-input v-model.trim="platform.desc"></a-input>
        </a-form-item>
    </a-form>

</template>

<script>
export default {
    props: ['platform'],
    data () {
        return {
            formLayout: 'horizontal',
            form: this.$form.createForm(this),
        }
    }
}
</script>
