<template>
    <a-card title="Cron task" :visible.sync="cronEditorVisible" width="90%" >
        <a-form layout="horizontal">
            <a-form-item
                label="Name"
                :label-col="{ span: 2 }"
                :wrapper-col="{ span: 14 }"
                >
                <a-input  placeholder="Task name"  v-model="localCron.name" :disabled="!isNewOne" />
            </a-form-item>
                <a-form-item
                    label="command"
                    :label-col="{ span: 2 }"
                    :wrapper-col="{ span: 22 }"
                    >
                    <a-input  placeholder="Command"  v-model="localCron.cmd" />
                </a-form-item>
        </a-form >
        <a-table :columns="columns" :dataSource="localCron.envs">
            <span slot="minute" slot-scope="text, record">
                <a-select style="width: 80px"  v-model="record.minute">
                    <a-select-option v-for="min in minutes"
                                     :key="min" > {{min}}
                    </a-select-option>
                </a-select>
            </span>                         
            <span slot="hour" slot-scope="text, record">
                <a-select style="width: 80px" v-model="record.hour">
                    <a-select-option v-for="hour in hours"
                                     :key="hour" >
                                     {{hour}}
                    </a-select-option>
                </a-select>
            </span>                         
            <span slot="day" slot-scope="text, record">
                <a-select style="width: 80px" v-model="record.day" >
                    <a-select-option v-for="day in days"
                                     :key="day" >
                                     {{day}}
                    </a-select-option>
                </a-select>
            </span>                         
            <span slot="month" slot-scope="text, record">
                <a-select style="width: 80px" v-model="record.month">
                    <a-select-option v-for="kw  in months"
                                     :key="kw.key" >
                                     {{kw.value}}
                    </a-select-option>
                </a-select>
            </span>                         
            <span slot="weekday" slot-scope="text, record">
                <a-select style="width: 80px" v-model="record.weekday">
                    <a-select-option v-for="kw in week_days"
                                     :key="kw.key">
                        {{kw.value}}
                    </a-select-option>
                </a-select>
            </span>                         
            <span slot="state" slot-scope="text, record">
                <a-select style="width: 100px" v-model="record.state" >
                    <a-select-option v-for="state in states"
                                     :key="state" >
                                     {{state}}
                    </a-select-option>
                </a-select>
            </span>                         
        </a-table>
    </a-card>
</template>

<script>
import _ from 'lodash';
let minutes = ["*", "*/5","*/10","*/15","*/30","0","5","10","15","20","25","30","35","40","45","50","55"];
let hours = ["*", "*/2", "0", "1","2","3","4","5","6","8","10","12","16","20","22"];
let days = ["*", "1","7","15"];
let months = [{"key":"*", "value": "*"},
    {"key":"1", "value": "Jan"},
    {"key":"2", "value": "Fév"},
    {"key":"3", "value": "Mars"},
    {"key":"4", "value": "Avr"},
    {"key":"5", "value": "Mai"},
    {"key":"6", "value": "Juin"},
    {"key":"7", "value": "Juil"},
    {"key":"8", "value": "Aout"},
    {"key":"9", "value": "Sept"},
    {"key":"10", "value": "Oct"},
    {"key":"11", "value":  "Nov"},
    {"key":"12", "value":  "Dec"}];
let week_days = [{"key":"*", "value": "*"},
    {"key": "0", "value": "dim"},
    {"key": "1", "value": "lun"},
    {"key": "2", "value": "mar"},
    {"key": "3", "value": "mer"},
    {"key": "4", "value": "jeu"},
    {"key": "5", "value": "ven"},
    {"key": "6", "value": "sam"}];
let states = ["present", "absent"];

let columns = [
    {
        title: 'Env',
        dataIndex: 'env',
        key: 'env',
    },
    {
        title: 'Minute',
        dataIndex: 'minute',
        key: 'minute',
        scopedSlots: { customRender: 'minute' },
    },
    {
        title: 'Hour',
        dataIndex: 'hour',
        key: 'hour',
        scopedSlots: { customRender: 'hour' },
    },
    {
        title: 'Day',
        dataIndex: 'day',
        key: 'day',
        scopedSlots: { customRender: 'day' },
    },
    {
        title: 'Month',
        dataIndex: 'month',
        key: 'month',
        scopedSlots: { customRender: 'month' },
    },
    {
        title: "week's day",
        dataIndex: 'weekday',
        key: 'weekday',
        scopedSlots: { customRender: 'weekday' },
    },
    {
        title: 'Status',
        dataIndex: 'state',
        key: 'state',
        scopedSlots: { customRender: 'state' },
    },

]
export default {
    props: ['cron', 'envs', 'isNewOne'],
    data() {
        return {
            cronEditorVisible: true,
            minutes,
            hours,
            days,
            months,
            week_days,
            states,
            columns,

        }
    },

    computed: {
        localCron: {
            get() {
                return this.cron;
            },
            set(updateme) {

                this.$emit('update:cron', updateme)
            }
        },
    },
}
</script>
