<template>
    <div>
        <a-form layout="inline">
            <a-form-item >
                <a-input  placeholder="new variable'name"  v-model="new_var" />
            </a-form-item> 
                <a-form-item >
                    <a-button type="primary"  @click="addVar">Add</a-button>
                </a-form-item> 
        </a-form>
        <a-tabs type="card">
            <a-tab-pane v-for="(value, varname) in localVars" :tab="varname" :key="varname">
                <a-form >
                    <a-form-item v-for="env in genvs"
                                 :key="env"
                                 :label="env"
                                 :label-col="{ span: 2}"
                                 :wrapper-col="{ span: 22 }">
                        <a-input-search style="width: 50%"
                             v-if="isOject(localVars[varname][env])"
                             :disabled="true"
                             :value=jsonhead(localVars[varname][env])
                            @search="editJson(varname, env)" >
                        <a-button slot="enterButton">JSON</a-button>
                        </a-input-search>

                        <a-input-search style="width: 50%"
                                        v-model="localVars[varname][env]"
                                        v-if="!isOject(localVars[varname][env])"
                                        @search="editJson(varname, env)">
                            <a-button slot="enterButton">JSON</a-button>
                        </a-input-search>
                    </a-form-item>
                </a-form>
            </a-tab-pane>
        </a-tabs>
        <a-modal title="Edit var in Json"  v-model="jsonEditorVisible"  @ok="varOnScope()" :onCancel="clearContent()" >
            <div ref="jsoneditor" class="lbn-editor" style="width: 100%; height: 400px;"></div>
        </a-modal>
    </div>
</template>



<script>
import _ from 'lodash';
/*
if (process.browser) {
    const jsoneditor = require('jsoneditor')
}
 */

var editor;
export default {
    props: ['vars', 'envs'],
    head () {
        return { script: [
            { src:  '/jsoneditor/jsoneditor.min.js'}
        ],
            link: [
                { rel: 'stylesheet', href: '/jsoneditor/jsoneditor.min.css' }
            ]
        }
    },
    data() {
        return {
            activeName: "addVar",
            new_var: "",
            jsonEditorVisible: false,
            editor: '',
            editorEnv: '',
        }
    },
    computed: {
        localVars: {
            get() {
                return this.vars;
            },
            set(updateme) {

                this.$emit('update:vars', updateme) 
            }
        },
        genvs:  function() {
            return _.concat(['global'], this.envs)
        }
    },
    methods: {
        isOject(val){
            return typeof(val) !== 'string' &&  typeof(val) !== 'undefined'
        },
        jsonhead(val){
            if (typeof(val) !== 'undefined'){
            return JSON.stringify(val).substring(0,20) + '.....'
            }
        },
        addVar(){
            var newVar = {};
            newVar[this.new_var] = {"global": ""};
            const vars =  _.extend({}, this.localVars, newVar)
            this.localVars = vars;
        },
        editJson(varname, env){
            try {
                var vm = this;
                var toEdit = vm.localVars[varname][env];
                this.editorEnv = {name: varname, env: env}
                vm.jsonEditorVisible = true;
                setTimeout(function () {
                    var container = vm.$refs.jsoneditor;
                    while (container.hasChildNodes()) {
                        container.removeChild(container.lastChild);
                    }
                    var options = {mode: 'text'};
                    editor = new JSONEditor(container, options);
                    if (typeof(toEdit) !== 'undefined' && !_.isEmpty(toEdit)){
                        editor.set(toEdit);
                    }
                }, 300)
            }catch(e){
                this.$message.error("this string is not a JSON");
                return false;
            }
        },
        varOnScope(){
            var values = editor.get()
            const varname = this.editorEnv.name;
            const env = this.editorEnv.env;
            if (_.isEmpty(values)){
                this.localVars[varname] = _.omit(this.localVars[varname], [env])
                delete this.localVars[varname][env]
            }else{
                this.localVars[varname][env] = values;
            }
            editor.set('')
            this.jsonEditorVisible = false;
        },
        clearContent(){
            if (!_.isUndefined(editor)){
                editor.set('')
            }

        }
    }
}
</script>
