<template>
    <el-dialog title="Edit var in Json" :visible.sync="jsonEditorVisible" width="70%" >
        <div ref="jsoneditor" class="lbn-editor" style="width: 100%; height: 400px;"></div>
        <span slot="footer" class="dialog-footer">
            <el-button @click="jsonEditorVisible = false">Cancel</el-button>
            <el-button type="primary" @click="varOnScope()">Ok</el-button>
        </span>
    </el-dialog>
</template>

<script>
export default {
    props: ['jsonEditorVisible', 'jobs']
}
</script>
