<template>
    <div>
            <a-table :columns="columns" :dataSource="jobs"  :rowKey="record => record._id">
                <span slot="_id" slot-scope="_id">
                    <router-link class="sisyphe-link" :to="'/jobs/' + _id"> {{_id}} </router-link>

                </span>
            </a-table>
    </div>
</template>

<script>
export default {
    props: ['jobs'],
    data: function ()  {
        return {
            columns : [
                {title:'Date', dataIndex: 'strftime', sorter: (a, b) => a._id - b._id},
                {title:'Logs',dataIndex: '_id', scopedSlots: { customRender: '_id' }},
                {title: 'Site', dataIndex: 'site', sorter: true },
                {title: 'Environment', dataIndex: 'environment'},
                {title: 'User', dataIndex: 'user'},
                {title: 'Ticket', dataIndex: 'ticket'},

            ]
        }
    },
}
</script>
