<template>
    <div>
    <a-card :title="'Command for: ' + siteName" >
        <switchModule v-if="template.length != 0" :siteName="siteName"  from="commands" :template="template" slot="extra" />
        <a-form >
            <a-form-item label="Environnement" :label-col="{ span: 3}" :wrapper-col="{ span: 12 }">
                <a-select v-model="working.env" placeholder="Environnement" @change="switchEnv">
                    <a-select-option v-for="env in environments"
                                     :key="env"
                                     >{{env}}
                    </a-select-option>
                </a-select>
            </a-form-item>

        <a-form-item label="Action" :label-col="{ span: 3}" :wrapper-col="{ span: 12 }">
            <a-select v-model="working.cmd" placeholder="Select a command" @change="getOptions">
                <a-select-option v-for="command in working.commands"
                                 :key="command"
                                 >{{command}}
                </a-select-option>
            </a-select>
        </a-form-item>

        <a-form-item label="Options" v-if="showOps" :label-col="{ span: 3}" :wrapper-col="{ span: 12 }">
            <a-select v-model="working.opt" placeholder="Select option" @change="runOptions">
                <a-select-option v-for="opt in working.opts"
                                 :key="opt"
                                 >{{opt}}
                </a-select-option>
            </a-select>
        </a-form-item>
        <a-form-item v-if="showRun" >
            <a-button type="primary" icon="caret-right"  @click="runCmd">Go</a-button>
            <router-link v-if="newJob" :to="newJob" > job log page</router-link>
        </a-form-item>
        </a-form>
    </a-card>
    </div>
</template>

<script>
import axios from '~/plugins/axios'
import _ from 'lodash';
import switchModule from '@/components/actions/switchModule';

export default {
    components : {
        switchModule
    },
    validate ({ params }) {
        // Doit être un nombre
        return /^[\w\.]+$/.test(params.siteName)
    },
    data() {
        return {
            activeNames: '',
            loading: true,
            siteName: '',
            environments: [],
            available_commands: [],
            tpl_vars: {},
            working: {},
            role: '',
            dialogVisible: false,
            showOps: false,
            showRun: false,
            template: "",
            newJob: ''
        }
    },
    created() {
        this.siteName = this.$route.params.siteName;
        axios.get('/api/sites/' + this.siteName)
            .then(response => {
                this.template = response.data.template;
                axios.get('/api/templates/' + this.template + '/envs')
                    .then(response => {
                        this.environments =  response.data;
                        axios.get('/api/sites/'+ this.siteName + '/vars?val=commands')
                            .then(response => {
                                var tpl_vars = {};
                                const commands = response.data.commands;
                                _.map(this.environments, function(env){
                                    if(_.isEmpty(commands[env])){
                                        tpl_vars[env] = commands.global;
                                    }
                                    else{
                                        tpl_vars[env] = commands[env]
                                    }})
                                this.tpl_vars = tpl_vars;
                                console.log(this.tpl_vars);

                            }).catch(error => {
                                console.log(error)
                                this.loading = false;
                            });
                    })
                    .catch(error => {
                        console.log("not found")
                        window.location = '/sites' 
                    })
            })
            .catch(error => {
                console.log("not found")
                window.location = '/sites' 
            })
    },
    methods: {
        switchEnv(){
            this.showRun = false;
            this.showOps = false;
            this.working.cmd = "";
            const env = this.working.env;
            const envCmds = typeof this.tpl_vars[this.working.env] == 'undefined'? this.tpl_vars.global: this.tpl_vars[this.working.env];
            if (Array.isArray(envCmds)){
                this.working.commands = _.map(envCmds, cmd => {return cmd.desc});
            }

        },
        getOptions(){
            this.working.opts = [];
            var workingCmds = this.working.commands;
            var choise = this.working.cmd;
            var fullcmd = _.filter(this.tpl_vars[this.working.env], cmd =>{return cmd.desc == this.working.cmd})[0]
            if(_.has(fullcmd, 'opts')){
                this.showRun = false;
                this.working.opts = fullcmd.opts;
                this.role = fullcmd.role;
                this.showOps = true;
            }else{
                this.showOps = false;
                this.showRun = true;
            }
        },
        runOptions(){
            this.showRun = true;
        },
        runCmd(){
            const data = {
                siteName: this.siteName,
                environment: this.working.env,
                module: 'commands',
                role: 'web',
                action: 'run',
                cmd_desc: this.working.cmd,
                option: this.working.opt,
            }
            axios.post('/api/jobs', data)
                .then(response => {
                    console.log(response.data)
                    this.newJob = response.data.jobUrl;
                })
                .catch(error => {
                    this.$message.error('Error while puting request in queu')
                    console.log(error)
                });
        },
    }

}
</script>

<style>
</style>
