<template>
    <a-card :title="site.name + ' configuration'" >
        <a-tabs defaultActiveKey="1" type="card" >
            <a-tab-pane tab="Main Params" key="1">
                <MainParams :site="site" :webagencies="webagencies" :templates="templates" :projects="projects" :isNewSite="false" />
            </a-tab-pane>
            <a-tab-pane tab="Variables" key="2">
                <EditVars :vars.sync="site.vars" :envs="envs" />
            </a-tab-pane>
            <a-tab-pane tab="Contacts" key="3">
            </a-tab-pane>
            <a-tab-pane tab="Technicals urls" key="4">
            </a-tab-pane>
            <a-tab-pane tab="Credentials" key="5">
                <ShowCredentials :credentials="site.credentials" />
            </a-tab-pane>
            <a-tab-pane tab="Delete Site" key="6">
            </a-tab-pane>

        </a-tabs>
        <a-button type="primary" icon="edit" @click="record">Record</a-button>
    </a-card>
</template>

<script>
import axios from '~/plugins/axios'
import _ from 'lodash';
import MainParams from '@/components/sites/main-params';
import EditVars from '@/components/EditVars';
import ShowCredentials from '@/components/sites/credentials';

export default {
    components: {
        MainParams,
        EditVars,
        ShowCredentials
    },
    data() {
        return {
            activeName: 'mainParams',
            site: {},
            envs: [],
            templates: [],
            projects: [],
            webagencies: []

        }
    },
    created() {
        axios.get('/api/sites/' + this.$route.params.name)
            .then(response => {
                const site = response.data;
                this.site = site;
                axios.get('/api/templates/' + site.template + '/envs')
                    .then(response => {
                        this.envs = response.data;
                    }).catch(error => {
                        console.log(error)
                    })

            }).catch(error => {
                console.log(error);
            })

    },
    methods: {
        record() {
            console.log(this.site)
        axios.put('/api/sites/' + this.$route.params.name, this.site)
            .then(response => {
                const ret = response.data;
                this.$message.success('site updated')

            }).catch(error => {
                console.log(error);
                this.$message.error( error.response.status + ': ' + error.response.data );
            })
        }
    }
}
</script>

<style>
</style>
