<template>
    <a-card title="Create New Site" >
            <a-tabs v-model="activeName"  type="card" >
                <a-tab-pane tab="Mains params" key="1">
                    <MainParams :site.sync="site" :webagencies="webagencies" :templates="templates" :projects="projects" :isNewSite="true" />
                </a-tab-pane>
            </a-tabs>
        <a-button type="primary" icon="edit" @click="record">Record</a-button>
    </a-card>
</template>

<script>
    import axios from '~/plugins/axios'
    import _ from 'lodash';
    import MainParams from '@/components/sites/main-params';
    import EditVars from '@/components/EditVars';
    import {mapActions} from 'vuex';

    export default {
        components: {
            MainParams,
            EditVars,
        },
        data() {
            return {
                activeName: '1',
                site: {},
                envs: [],
                templates: [],
                projects: [],
                webagencies: []

            }
        },
        computed: {
		   ...mapActions({
			getSites: 'sitesconf/getSites'
		    })
	    },

        created() {
            axios.get('/api/templates')
                .then(response => {
                    this.templates = response.data;
                }).catch(error => {
                    console.log(error);
                })
            axios.get('/api/projects')
                .then(response => {
                    this.projects = response.data;
                }).catch(error => {
                    console.log(error);
                })

        },
        methods: {
            record() {
                console.log(JSON.stringify(this.site))
                axios.post('/api/sites', this.site)
                .then(response => {
                    this.$message.success('site recorded');
                    this.getSites;
                    this.$router.push('/sites/' + this.site.name)
                })
                .catch(error => {
                    this.$message.error( error.response.status + ': ' + error.response.data.error );
                });
            }
        }
    }
</script>

<style>
</style>
