<template>
    <a-card :title="'Deploy package for: ' + siteName" >
        <switchModule v-if="template.length != 0" :siteName="siteName"  from="deployPackages" :template="template" slot="extra" />
        <a-button type="primary" @click="dialogVisible = true" icon="info" >Help</a-button>
        <a-tabs defaultActiveKey="1" type="card">
            <a-tab-pane tab="From FTP" key="1">
                <by-ftp :siteName="siteName"  :environments="environments" />
            </a-tab-pane> 
        <a-tab-pane tab="Drag and Drop" key="2">
            <by-drag-and-drop :siteName="siteName"  :environments="environments" />
        </a-tab-pane>
        </a-tabs>
    </a-card>
</template>

<script>
import axios from '~/plugins/axios'
import _ from 'lodash';
import switchModule from '@/components/actions/switchModule';
import byDragAndDrop from '@/components/actions/deploy_package_dragndrop';
import byFtp from '@/components/actions/deploy_package_ftp';

export default {
    components : {
        switchModule,
        byDragAndDrop,
        byFtp
    },
    data() {
        return {
            dialogVisible: false,
            activeName: "byftp",
            siteName: '',
            environments: [],
            template: ''
        }
    },
    created() {
        this.siteName = this.$route.params.siteName;
        axios.get('/api/sites/' + this.siteName)
            .then(response => {
                this.template = response.data.template;
                axios.get('/api/templates/' + this.template + '/envs')
                    .then(response => {
                        this.environments =  response.data;
                    }).catch(error => {
                        console.log(error)
                        this.loading = false;
                    });
            })
            .catch(error => {
                console.log("not found")
                window.location = '/sites' 
            })
    },
}
</script>

<style>
</style>
