<template>
    <a-card :title="user.email + ' configuration'" >
                <MainParams :user="user" :isNewUser="false" />
        <a-button type="primary" icon="edit" @click="record">Record</a-button>
    </a-card>
</template>

<script>
import axios from '~/plugins/axios'
import _ from 'lodash';
import MainParams from '@/components/users/main-params';

export default {
    components: {
        MainParams,
    },
    data() {
        return {
            activeName: 'mainParams',
            user: {},

        }
    },
    created() {
        axios.get('/api/users/' + this.$route.params.name)
            .then(response => {
                const user = response.data;
                this.user = response.data;

            }).catch(error => {
                console.log(error);
            })

    },
    methods: {
        record() {
            console.log(this.site)
        axios.put('/api/users/' + this.user.email, this.user)
            .then(response => {
                const ret = response.data;
                this.$message.success('user updated')

            }).catch(error => {
                console.log(error);
                this.$message.error( error.response.status + ': ' + error.response.data );
            })
        }
    }
}
</script>

<style>
</style>
