<template>
    <a-card title="Users List" v-loading="loading" >
		<a-table :columns="columns" :dataSource="users" rowKey="email">
			<span slot="email" slot-scope="text">
				<router-link  class="sisyphe-link" :to="'/users/' + text"> {{text}} </router-link>
			</span>
		</a-table>
    </a-card>
</template>

<script>
import axios from '~/plugins/axios';
import _ from 'lodash';

export default {
    data: function ()  {
        return {
            users: [],
            loading: true,
			columns : [
				{title:'Email', dataIndex: 'email', scopedSlots: { customRender: 'email' }},
				{title:'Name', dataIndex: 'name', scopedSlots: { customRender: 'name' }},
			]
        }
    },
    created() {
        axios.get('/api/users')
            .then(response => {
                this.users = response.data
                this.loading = false;
            }).catch(error => {
                this.loading = false;
                console.log(error)
            })
    },

}
</script>

<style>
</style>
