<template>
    <a-card title="Add user" >
                <MainParams :user="user" :isNewUser="true" />
        <a-button type="primary" icon="edit" @click="record">Record</a-button>
    </a-card>
</template>

<script>
import axios from '~/plugins/axios'
import _ from 'lodash';
import MainParams from '@/components/users/main-params';

export default {
    components: {
        MainParams,
    },
    data() {
        return {
            activeName: 'mainParams',
            user: {},
            newPassword: '',

        }
    },
    methods: {
        record() {
        axios.post('/api/users', this.user)
            .then(response => {
                const ret = response.data;
                this.$message.success('user created')

            }).catch(error => {
                console.log(error);
                this.$message.error( error.response.status + ': ' + error.response.data );
            })
        }
    }
}
</script>

<style>
</style>
