<template>
    <a-submenu index="4">
        <template slot="title">Sites</template>
        <a-menu-item index="4-1">
            <router-link to="/templates" class="menulink" >Templates list</router-link>

        </a-menu-item>
        <a-menu-item index="4-2"><router-link to="/templates/new" >Templates add</router-link></a-menu-item>
        <a-menu-item index="4-3"><router-link to="/sites" >Sites list</router-link></a-menu-item>
        <a-menu-item index="4-4"><router-link to="/sites/new" >Site add</router-link></a-menu-item>
    </a-submenu>

</template>

<script>
</script>
