<template>
    <a-submenu index="2">
        <template slot="title">Infra</template>
        <a-menu-item index="2-1" ><router-link to="/platforms" >Platforms</router-link></a-menu-item>
        <a-menu-item index="2-2" ><router-link to="/platforms/new" >Platform add</router-link></a-menu-item>
        <a-menu-item index="2-3"><router-link to="/servers" >Servers</router-link></a-menu-item>
        <a-menu-item index="2-4"><router-link to="/servers/new" >Servers add</router-link></a-menu-item>
    </a-submenu>
</template>

<script>
</script>
