<template>
    <a-sub-menu>
        <span slot="title" class="submenu-title-wrapper"><a-icon type="setting" />Configuration</span>
        <a-menu-item-group title="Admin">
            <a-menu-item key="setting:1"><router-link to="/configuration/modules" >Action modules</router-link></a-menu-item>
            <a-menu-item key="setting:2"><router-link to="/configuration/idefix" >Idefix configuration</router-link></a-menu-item>
        </a-menu-item-group>
        <a-menu-item-group title="Import">
            <a-menu-item key="setting:4"><router-link to="/configuration/servers_import">Servers</router-link></a-menu-item>
            <a-menu-item key="setting:5"><router-link to="/configuration/companies_import">Companies</router-link></a-menu-item>
            <a-menu-item key="setting:6"><router-link to="/configuration/projects_import">Projects</router-link></a-menu-item>
        </a-menu-item-group>
    </a-sub-menu>
</template>

<script>
</script>
