<template>
    <a-sub-menu key="20" style="float: right; padding: 3px 0">
        <template slot="title">{{$auth.user.login}}</template>
        <a-menu-item key="20-1"><router-link to="/users/myprofile" target="_blank">My Profile</router-link></a-menu-item>
        <a-menu-item key="19"><router-link to="/logout" target="_blank">Logout</router-link></a-menu-item>
    </a-sub-menu>
</template>

<script>
</script>
