<template>
    <a-layout id="main-layout">
        <a-layout-header class="header">
            <div class="logo" />
                <a-menu
                    mode="horizontal"
                    theme="dark"
                    :defaultSelectedKeys="['2']"
                    :style="{ height: '100%', borderRight: 0 }">

                    <a-sub-menu key="user" style="float: right; padding: 3px 0">
                        <template slot="title">{{$auth.user.login}}</template>
                        <a-menu-item key="20-1"><router-link to="/users/myprofile" target="_blank">My Profile</router-link></a-menu-item>
                        <a-menu-item key="19" @click="$auth.logout()">Logout</a-menu-item>
                    </a-sub-menu>
                </a-menu>
        </a-layout-header>
        <a-layout>
            <a-layout-sider
                breakpoint="lg"
                collapsedWidth="0"
                v-model="collapsed"
                style="height: 90vh"
                >
                <a-menu mode="inline"
                        theme="dark"
                        :defaultOpenKeys="defaultOpened"
                        :defaultSelectedKeys="defautSelected">
                    <a-menu-item key="home" v-if="$auth.hasScope('user')">
                        <router-link to="/" ><a-icon type="home" />Home</router-link>
                    </a-menu-item>
                    <a-menu-item key="jobs" v-if="$auth.hasScope('user')">
                        <router-link to="/jobs" ><a-icon type="setting" />Jobs</router-link>
                    </a-menu-item>
                    <a-sub-menu key="sites" v-if="$auth.hasScope('user')">
                        <span  slot="title"><a-icon type="cloud" />Sites</span>
                        <a-menu-item key="siteList"><router-link to="/" >Sites list</router-link></a-menu-item>
                        <a-menu-item key="siteAdd"><router-link to="/sites/new" >Site add</router-link></a-menu-item>
                    </a-sub-menu>
                    <a-sub-menu key="templates" v-if="$auth.hasScope('admin')">
                        <span  slot="title"><a-icon type="switcher" />Templates</span>
                        <a-menu-item key="template:1">
                            <router-link to="/templates" class="menulink" >List</router-link>
                        </a-menu-item>
                        <a-menu-item key="template:2"><router-link to="/templates/new" >Add</router-link></a-menu-item>
                    </a-sub-menu>
                    <a-sub-menu key="platforms" v-if="$auth.hasScope('admin')">
                        <span slot="title"><a-icon type="cluster" /><span>Platforms</span></span>
                        <a-menu-item key="plt1"><router-link to="/platforms" >List</router-link></a-menu-item>
                        <a-menu-item key="plt2" v-if="$auth.hasScope('admin')">
                            <router-link to="/platforms/new" >Add</router-link>
                        </a-menu-item>
                    </a-sub-menu>
                    <a-sub-menu key="servers" v-if="$auth.hasScope('admin')">
                        <span slot="title"><a-icon type="appstore" /><span>Servers</span></span>
                        <a-menu-item key="srv1"><router-link to="/servers" >List</router-link></a-menu-item>
                        <a-menu-item key="srv2"><router-link to="/servers/new" >Add</router-link></a-menu-item>
                    </a-sub-menu>
                    <a-menu-item key="setting:1" v-if="$auth.hasScope('admin')">
                        <router-link to="/configuration/modules" >Modules</router-link>
                    </a-menu-item>
                    <a-sub-menu key="users" v-if="$auth.hasScope('admin')">
                        <span slot="title"><a-icon type="user" /><span>Users</span></span>
                        <a-menu-item key="usr1"><router-link to="/users" >List</router-link></a-menu-item>
                        <a-menu-item key="usr2"><router-link to="/users/new" >Add</router-link></a-menu-item>
                    </a-sub-menu>
                </a-menu>
            </a-layout-sider >
            <a-layout style="padding: 24px 24px 24px">
                <a-icon
                    class="trigger"
                    :type="collapsed ? 'menu-unfold' : 'menu-fold'"
                    @click="()=> collapsed = !collapsed"
                    style="text-align: left; padding: 10px"
                    />
                    <nuxt />
            </a-layout>
        </a-layout>
    </a-layout>
</template>

<script>
import menuConfig from './nav-config';
import menuPlatforms from './nav-platforms';
import menuSites from './nav-sites';
import menuJobs from './nav-jobs';
import menuProfile from './nav-profile';

export default {
    data() {
        return {
            defautSelected: ['home'],
            defaultOpened: ['sites'],
            collapsed: false,
        }
    },
}
</script>

<style>
#main-layout .logo {
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);
    margin: 16px 28px 16px 0;
    float: left;
}
</style>
