<template>
    <a-card title="'Module Get Logs for' + siteName" >
            <a-button type="primary" @click="dialogVisible = true" icon="info" >Help</a-button>
            <switchModule v-if="template.length != 0" :siteName="siteName" from="commands" :template="template" />
        </div>
        <a-form  layout="horizontal">
            <a-form-item label="Environnement" :label-col="{ span: 2}" :wrapper-col="{ span: 12 }">
                <a-select v-model="working.env" placeholder="Environnement" @change="switchEnv">
                    <a-select-option  v-for="env in environments"
                                      :key="env">{{env}}
                    </a-select-option>
                </a-select>
            </a-form-item>
        </a-form>
    </a-card>
</template>

<script>
import axios from '~/plugins/axios'
import _ from 'lodash';
import switchModule from '@/components/actions/switchModule';

export default {
    components : {
        switchModule
    },
    validate ({ params }) {
        // Doit être un nombre
        return /^\w+$/.test(params.siteName)
    },
    data() {
        return {
            activeNames: '',
            loading: true,
            siteName: '',
            environments: [],
            available_commands: [],
            tpl_vars: {},
            working: {},
            role: '',
            dialogVisible: false,
            showOps: false,
            showRun: false,
            template: ""
        }
    },
    created() {
        this.siteName = this.$route.params.siteName;
        axios.get('/api/sites/find?name=' + this.siteName)
            .then(response => {
                this.template = response.data.template;
                axios.get('/api/templates/' + this.template + '/envs')
                    .then(response => {
                        this.environments =  response.data.envs;
                    }).catch(error => {
                        console.log(error)
                        this.loading = false;
                    });
            })
    },
    methods: {
        switchEnv(){
            this.showRun = false;
            this.showOps = false;
            this.working.cmd = "";
            const env = this.working.env;
            const envCmds = this.tpl_vars[this.working.env];
            this.working.commands = Object.keys(envCmds);

        },
    }

}
</script>

<style>
</style>
