<template>
    <div>
        <Nav />
    </div>
</template>
<script>
import Nav from './navbar/nav.vue';

export default {
    components: {
        Nav
    }
}
</script>
<style>

.a-header, .a-footer {
    color: #333;
  }
  
  
  .a-main {
    color: #333;
  }
  
  body {
    background-color: #F7F7F7;
  }
  
.main-card{
    margin-top: 5cm;

}
.menu-lbn{
    background-color: #606060
}

.sisyphe-link {
  text-decoration: none;
  display: block;
  padding-top: 0.125rem;
  padding-right: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 0.125rem;
  outline: 0;
  white-space: nowrap;
  color: #909399;

}
.ant-menu-item a {
  text-decoration: none;
  display: block;
  padding-top: 0.125rem;
  padding-right: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 0.125rem;
  outline: 0;
  white-space: nowrap;
  color: #fff;

}
.ant-dropdown-link {
  text-decoration: none;
  display: block;
  padding-top: 0.125rem;
  padding-right: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 0.125rem;
  outline: 0;
  white-space: nowrap;
  color: #909399;

}

.a-submenu__icon-arrow {
    color: #fff;
}
.a-input__inner{
    border-color: #585B5E;
}
.a-input__inner:hover{
    border-color: #606060;
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.25);
}
.a-input__inner:focus{
    border-color: #606060;
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.25);
}


pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
</style>
