<template>
    <a-card  :title="$route.params.name + ' module configuration'" >
        <a-tabs :defaultActiveKey=0 type="card" >
            <a-tab-pane v-for="(cmd, index) in module.cmds" :tab="module.cmds[index].name" :key="index">
                <a-form>
                    <a-form-item label="Form variables" :label-col="formItemLayout.labelCol" :wrapper-col="formItemLayout.wrapperCol">
                        <a-input v-model="module.cmds[index].formString" ></a-input>
                    </a-form-item>
            <a-form-item label="Script run" :label-col="formItemLayout.labelCol" :wrapper-col="formItemLayout.wrapperCol">
                <a-input v-model="module.cmds[index].default_cmd"></a-input>
            </a-form-item>
            <a-form-item label="Script rollback" :label-col="formItemLayout.labelCol" :wrapper-col="formItemLayout.wrapperCol">
                <a-input v-model="module.cmds[index].default_cmd"></a-input>
            </a-form-item>
            <a-form-item label="Billing time" :label-col="formItemLayout.labelCol" :wrapper-col="formItemLayout.wrapperCol">
                <a-select v-model="module.cmds[index].billingtime" placeholder="Select">
                    <a-select-option
                        v-for="time in billingChoice"
                        :key="time"
                        >{{time}}
                    </a-select-option>
                </a-select>
            </a-form-item>
            <a-divider orientation="left">mandatories variables</a-divider>
            <a-tabs :defaultActiveKey=0 type="card" >
                <a-tab-pane v-for="(mvar, vindex) in module.cmds[index].mandatories_vars " :tab="mvar.name" :key="vindex">
                    <a-form-item label="var name" :label-col="formItemLayout.labelCol" :wrapper-col="formItemLayout.wrapperCol">
                        <a-input v-model="module.cmds[index].mandatories_vars[vindex].name"></a-input>
                    </a-form-item>
                    <a-form-item label="var type" :label-col="formItemLayout.labelCol" :wrapper-col="formItemLayout.wrapperCol">
                        <a-select v-model="module.cmds[index].mandatories_vars[vindex].type" placeholder="Select">
                            <a-select-option key="scalar"  >scalar</a-select-option>
                            <a-select-option key="json"  >json</a-select-option>
                        </a-select>
                    </a-form-item>

                    <a-form-item label="example" :label-col="formItemLayout.labelCol" :wrapper-col="formItemLayout.wrapperCol">
                        <a-input v-if="mvar.type == 'scalar'" v-model="module.cmds[index].mandatories_vars[vindex].example"></a-input>
                        <a-input-search v-if="mvar.type != 'scalar'"
                            v-model="module.cmds[index].mandatories_vars[vindex].example"
                            @search="editJson(index, vindex)" >
                            <a-button slot="enterButton">JSON</a-button>
                        </a-input-search>
                    </a-form-item>
                </a-tab-pane>
            </a-tabs>

                </a-form>
            </a-tab-pane>
        </a-tabs>
        <a-button type="primary" icon="edit" @click="record">Record</a-button>
        <a-modal title="Edit var in Json"  v-model="jsonEditorVisible"  @ok="varOnScope()" >
            <div ref="jsoneditor" class="lbn-editor" style="width: 100%; height: 400px;"></div>
        </a-modal>
    </a-card>
</template>
<script>
import axios from '~/plugins/axios'
import _ from 'lodash';

String.prototype.form2array =  function () {
    return this.replace(/(\s+|[,;]\s*$)/g, '').split(/[,;]/)
}

var editor;
export default {
    head () {
        return { script: [
            { src:  '/jsoneditor/jsoneditor.min.js'}
        ],
            link: [
                { rel: 'stylesheet', href: '/jsoneditor/jsoneditor.min.css' }
            ]
        }
    },
    data() {
        return{
            module: {},
            forms: {},
            billingChoice: [0,5,10,15,20],
            jsonEditorVisible: false,
            jsonEditorIndexes: {},
            formItemLayout: {
                labelCol: { span: 4 },
                wrapperCol: { span: 14 }
            }
        }
    },
    created() {
        const name = this.$route.params.name;
        axios.get('/api/modules/' + name)
            .then(response => {
                var moduleDef = response.data;
                for (var i=0; i <  moduleDef.cmds.length; i++) {
                    moduleDef.cmds[i].formString = moduleDef.cmds[i].form.join(',');
                }
                this.module = moduleDef;
            }).catch(error => {
                console.log(error);
            })
    },
    methods: {
        record(){
            console.log(JSON.stringify(this.module))
            for (var i=0; i <  this.module.cmds.length; i++) {
                this.module.cmds[i].form = this.module.cmds[i].formString.form2array();
                delete this.module.cmds[i].formString;
            }

            axios.patch('/api/modules/' + this.$route.params.name , this.module)
                .then(response => {
                    this.$message({message: 'Updated',  type: 'success'})
                    console.log(response)
                }).catch(error => {
                    console.log(error.response.data)
                    this.$message.error( error.response.status + ': ' + error.response.data.error.message );
                })
        },
        editJson(cmdIndex, varIndex){
            console.log(cmdIndex, varIndex)
            try {
                this.jsonEditorIndexes = [cmdIndex, varIndex];
                var vm = this;
                console.log('+++++++++++++++++')
                console.log(vm.module.cmds[cmdIndex].mandatories_vars[varIndex].example)
                console.log('*****************')
                var toEdit = JSON.parse(vm.module.cmds[cmdIndex].mandatories_vars[varIndex].example);
                console.log(toEdit)
                vm.jsonEditorVisible = true;
                setTimeout(function () {
                    var container = vm.$refs.jsoneditor;
                    while (container.hasChildNodes()) {
                        container.removeChild(container.lastChild);
                    }
                    var options = {mode: 'text'};
                    editor = new JSONEditor(container, options);
                    editor.set(toEdit);
                }, 300)
            }catch(e){
                this.$message.error("this string is not a JSON");
                return false;
            }
        },
        varOnScope(){
            var values = editor.get()
            console.log(values)
			const [cmdIndex, varIndex] = this.jsonEditorIndexes;
            this.module.cmds[cmdIndex].mandatories_vars[varIndex].example = JSON.stringify(values);
            this.jsonEditorVisible = false;
        }
    }

}
</script>
