<template>
     <a-card title="Available modules" >
         <a-table :columns="columns" :dataSource="modules">
             <a slot="name" slot-scope="text"</a>
             <span slot="active" slot-scope="text, record">
                 <a-checkbox v-model='modules_status[record.name]'></a-checkbox>
             </span>
             <span slot="link" slot-scope="text, record" >
                        <router-link class="sisyphe-link" :to="'/configuration/modules/' + record.name"
                            v-if="modules_status[record.name]">
                            {{record.name}}</router-link>
             </span>
         </a-table>
         <a-button type="primary" @click="apply">Record </a-button>
    </a-card>
</template>

<script>
import axios from '~/plugins/axios'
import _ from 'lodash';


export default {
    data() {
        return {
            modules: [],
            modules_status: {},
            columns : [
                {title:'Name', dataIndex: 'name'},
                {title:'active',dataIndex: 'active', scopedSlots: { customRender: 'active' },},
                {title:'Link', scopedSlots: { customRender: 'link' }}
            ]
        }
    },
    created() {
        axios.get('/api/modules')
            .then(response => {
                this.modules  = response.data;
                var mods = {}
                for(var i=0; i < this.modules.length ; i++){
                    this.modules[i].key = i;
                    if (typeof this.modules[i].active === 'undefined'){
                        mods[this.modules[i].name] = false; 
                    }else{
                        mods[this.modules[i].name] = this.modules[i].active
                    }
                }
                this.modules_status = _.clone(mods);

            }).catch(error => {
                console.log(error);
            })

    },
    methods: {
        apply(){
            console.log(this.modules_status)
            axios.put('/api/modules/status', this.modules_status)
                .then(response => {
                    this.$message.success({message: 'Updated'})
                })
                .catch(error => {
                    this.$message.error( error.response.status + ': ' + error.response.data.error );
                });
        }
    }
}
</script>
