<template>
	<a-card title="Sites list" >
		<a-table :columns="columns" :dataSource="sites" rowKey="name">
			<span slot="url" slot-scope="fqdn">
				<a class="sisyphe-link" :href="'http://' + fqdn">http://{{fqdn}}</a>
			</span>
			<span slot="amods" slot-scope="modules, record">
				<a-dropdown>
					<a class="ant-dropdown-link" href="#">
						Actions <a-icon type="down" />
						</a>
						<a-menu slot="overlay">
							<a-menu-item v-for="module in modules" :key="module" >
								<router-link :to="'/actions/' + module + '/' + record.name">
									{{module}}
								</router-link>
							</a-menu-item>
						</a-menu>
				</a-dropdown>
			</span>
			<span slot="name" slot-scope="text">
				<router-link  class="sisyphe-link" :to="'/sites/' + text"> {{text}} </router-link>
			</span>
			<span slot="template" slot-scope="text">
				<router-link class="sisyphe-link" :to="'/templates/' + text"> {{text}} </router-link>
			</span>
			<span slot="platform" slot-scope="text">
				<router-link  class="sisyphe-link":to="'/platforms/' + text"> {{text}} </router-link>
			</span>
		</a-table>
	</a-card>
</template>

<script>
import axios from '~/plugins/axios'
import _ from 'lodash';
import {
	mapGetters,
	mapState,
	mapActions
} from 'vuex';

export default {
	data() {
		return {
			templates: {},
			search: '',
			pltFilters: [],
			tplFilters: [],
			loading: false,
			columns : [
				{title:'Name', dataIndex: 'name', scopedSlots: { customRender: 'name' }},
				{title:'url', dataIndex: 'url', scopedSlots: { customRender: 'url' }},
				{title:'Actions', dataIndex: 'amods', scopedSlots: { customRender: 'amods' }},
				{title:'platform', dataIndex: 'platform', scopedSlots: { customRender: 'platform' }},
				{title:'Template', dataIndex: 'template', scopedSlots: { customRender: 'template' }},
			]
		}
	},
	computed: {
		...mapGetters({
			sites: 'sitesconf/sites'

		}),
		...mapActions({
			getSites: 'sitesconf/getSites'
		})
	},
	created() {
		if (_.isEmpty(this.sites)) {
			this.getSites
		}
	},
	methods: {
		filterPlatform(value, row) {
			return row.platform === value;
		},
		filterTemplate(value, row) {
			return row.template === value;
		},
	}
}
</script>

<style>
</style>
