<template>
    <a-form  id="components-login"
				class="login-form"
			>

             <a-form-item>
                 <a-input
                     v-decorator="[
                     'email',
                     { rules: [{ required: true, message: 'Please input your email!' }] }
                     ]"
                     placeholder="Email"
                     v-model="email"
                     >
                     <a-icon
                         slot="prefix"
                         type="user"
                         style="color: rgba(0,0,0,.25)"
                         />
                 </a-input>
             </a-form-item>
        <a-form-item>
            <a-input
                v-decorator="[
                'password',
                { rules: [{ required: true, message: 'Please input your Password!' }] }
                ]"
                type="password"
                placeholder="Password"
                v-model="password"
                >
                <a-icon
                    slot="prefix"
                    type="lock"
                    style="color: rgba(0,0,0,.25)"
                    />
            </a-input>
        </a-form-item>
            <a-button style="width: 100%" type="primary"
                @click="onSubmit">Login</a-button>
    </a-form>

</template>

<style scoped>
.login-button {
    border: 0;
};
</style>

<script>
import axios from '~/plugins/axios'
export default {
    layout: 'login',
    data() {
        return {
            email: '',
            password: '',
            error: null
        }
    },
    methods: {
        async onSubmit() {
            this.error = null;
            return this.$auth
                .loginWith('local', {
                    data: {
                        email: this.email,
                        password: this.password
                    }
                })
                .catch(err => {
                    console.log(err)
                    this.error = err + ''
                })
        }
    }
}
</script>
  <style>
.login-form {
  margin: auto;
  width: 30%;
  padding: 10px;
  margin-top: 7%;
}
#components-login .login-form-button {
  width: 100%;
}
</style><Paste>
