<template>
    <div>
        <a-card :title="'Crontab for: ' + siteName" >
            <switchModule v-if="template.length != 0" :siteName="siteName"  from="crontab" :template="template" slot="extra" />
            <a-button type="primary" icon="plus"  @click="addCron" >New</a-button>
            <a-table :columns="columns_main" :dataSource="crontab">
                <span slot="actions" slot-scope="text, record">
                     <a slot="actions" v-on:click="edit(record)" >Edit</a>
                     <a-divider type="vertical" />
                     <a slot="actions" v-on:click="rmCron(record)" >Delete</a>
                </span>
            </a-table>
            <a-button type="primary" icon="save" @click="applyCron" >Save</a-button>
        </a-card>

        <a-modal v-model="cronEditorVisible"   width="80%" @ok="varOnScope()">
            <cronEdit :cron="toEdit" :envs="environments" :isNewOne="isNewOne" />
        </a-modal>

    </div>
</template>

<script>
import axios from '~/plugins/axios'
import _ from 'lodash';
import cronEdit from '@/components/crontab.vue';
import switchModule from '@/components/actions/switchModule';

function default_times(envs){
    let sch = {"minute": "0", "hour": "*", "day": "*",
                "month": "*", "weekday": "*", "state": "present"};
    let new_envs = _.map(envs, env => {return _.merge({env}, sch)});
    return {envs: new_envs}
}
export default {
    components : {
        switchModule, cronEdit
    },
    validate ({ params }) {
        // Doit être un nombre
        return /^[\w\.]+$/.test(params.siteName)
    },
    data() {
        return {
            loading: true,
            siteName: '',
            visible: false,
            environments: [],
            available_commands: [],
            tpl_vars: {},
            toEdit: {},
            crontab: [],
            cronEditorVisible: false,
            isNewOne: false,
            template: "",
            columns_main : [
                {title:'Name', dataIndex: 'name', key: 'name', scopedSlots: { customRender: 'name' }},
                {title:'Commande', dataIndex: 'cmd', key: 'cmd', scopedSlots: { customRender: 'cmd' }},
                {title:'Actions', key: 'actions', scopedSlots: { customRender: 'actions' }},
            ],
        }
    },
    created() {
        this.siteName = this.$route.params.siteName;
        axios.get('/api/sites/' + this.siteName)
            .then(response => {
                this.template = response.data.template;
                axios.get('/api/templates/' + this.template + '/envs')
                    .then(response => {
                        this.environments =  response.data;
                        axios.get('/api/sites/'+ this.siteName + '/crontab')
                            .then(response => {
                                this.crontab = response.data;

                            }).catch(error => {
                                console.log(error)
                                this.loading = false;
                            });
                    })
                    .catch(error => {
                        console.log("not found")
                        window.location = '/sites' 
                    })
            })
            .catch(error => {
                console.log("not found")
                window.location = '/sites' 
            })
    },
    methods: {
        edit(cron){
            this.isNewOne = false;
            this.toEdit  = cron;
            this.cronEditorVisible = true;
            console.log(cron.name);
        },
        addCron(){
            this.isNewOne = true;
            this.toEdit = default_times(this.environments);
            this.cronEditorVisible = true;
        },
        varOnScope(){
            if(this.isNewOne){
                this.toEdit.name = this.toEdit.name.replace(/^\s+|\s+$/g, '').replace(/\s+/g, '_')
                this.crontab.push(this.toEdit)
            }else{
                let prev = this.crontab.find(c => c.name==this.toEdit.name);
                if (prev)
                    prev = this.toEdit;

            }
            this.cronEditorVisible = false;
        },
        rmCron(cron){
            console.log(cron.name);
        },
        hide () {
            this.visible = false;
        },
        applyCron(){
        axios.put('/api/sites/' + this.siteName + '/crontab', this.crontab)
            .then(response => {
                const ret = response.data;
                this.$message.success('crontab updated')

            }).catch(error => {
                console.log(error);
                this.$message.error( error.response.status + ': ' + error.response.data );
            })
        }
    }

}
</script>

<style>
</style>
