<template>
    <a-card :title="'Get Logs: ' + siteName" >
        <switchModule v-if="template.length != 0" :siteName="siteName"  from="getlogs" :template="template" slot="extra" />
        <a-button type="text" @click="dialogVisible = true" icon="info">Help</a-button>
        <a-form  layout="horizontal">
            <a-form-item label="Environnement" :label-col="{ span: 2}" :wrapper-col="{ span: 12 }">
                <a-select v-model="envGetLogs" placeholder="Environnement" @change="switchEnv">
                    <a-select-option  v-for="env in environments"
                                :key="env">{{env}}
                    </a-select-option>
                </a-select>
            </a-form-item>
            <a-form-item label="Select Logs" v-if='logsTypeVisible' :label-col="{ span: 2}" :wrapper-col="{ span: 12 }">
                <a-select v-model="LogsChoice" :defaultValue="[]" mode="multiple">
                    <a-select-option  v-for="item in logs_types"
                                      :key="item">{{item}}
                    </a-select-option>
                </a-select>					
            </a-form-item>
            <a-form-item label="" v-if='logsTypeVisible' :label-col="{ span: 2}" :wrapper-col="{ span: 12 }">
                <a-button type="primary"
                           v-if='logsTypeVisible'
                           @click="getLogs">Get logs</a-button>
            </a-form-item>
        </a-form>
    </a-card>

</template>

<script>
import axios from '~/plugins/axios'
import _ from 'lodash';
import switchModule from '@/components/actions/switchModule';

export default {
    components : {
        switchModule
    },
    validate ({ params }) {
        // Doit être un nombre
        return /^[\w\.]+$/.test(params.siteName)
    },
    data() {
        return {
            loading: true,
            siteName: '',
            environments: [],
            logsTypeVisible: false,
            envGetLogs: '',
            LogsChoice: [],
            available_commands: [],
            env_choices: {},
            working: {},
            logs_types: [],
            dialogVisible: false,
            template: ""
        }
    },
    created() {
        this.siteName = this.$route.params.siteName;
        axios.get('/api/sites/' + this.siteName)
            .then(response => {
                this.template = response.data.template;
                axios.get('/api/templates/' + this.template + '/envs')
                    .then(response => {
                        this.environments =  response.data;
                        axios.get('/api/sites/'+ this.siteName + '/vars?val=getlogs')
                            .then(response => {
                                var tpl_vars = {};
                                const params = response.data;
                                _.map(this.environments, function(env){
                                    if(_.isEmpty(params[env])){
                                        tpl_vars[env] = params.global;
                                    }
                                    else{
                                        tpl_vars[env] = params[env]
                                    }})
                                this.env_choices = tpl_vars;

                            }).catch(error => {
                                console.log(error)
                                this.loading = false;
                            });
                    }).catch(error => {
                        console.log(error)
                        this.loading = false;
                        window.location = '/sites' 
                    });
            })
            .catch(error => {
                console.log("not found")
                window.location = '/sites' 
            })
    },
    methods: {
        switchEnv(){
            var workingWith = this.env_choices[this.envGetLogs];
            console.log(workingWith)
            const envCmds = typeof this.env_choices[this.envGetLogs] ==
                'undefined'? this.env_choices.global:
                this.env_choices[this.envGetLogs];
            this.logs_types =  _.keys(envCmds)
            this.logsTypeVisible = true;

        },
        getLogs(){
            const data = {
                siteName: this.siteName,
                module: 'getlogs',
                action: 'request',
                environment: this.envGetLogs,
                log_groups: JSON.stringify(this.LogsChoice).replace(/"/g,"'").replace(/,/g,"\\,")
            }

            console.log(data)
            axios.post('/api/jobs', data)
                .then(response => {
                    console.log(response.data)
                    this.$notify.success({
                        title: 'Job link',
                        dangerouslyUseHTMLString: true,
                        message: 'please follow it <a href='+ response.data.jobUrl +'>job queue</a>',
                        duration: 0,
                    })
                })
                .catch(error => {
                    this.$message.error('Error while puting request in queu')
                    console.log(error)
                });

        }
    }

}
</script>

<style>
</style>
