<template>
    <a-card :title="'deployFiles for: ' + siteName" >
        <div  slot="extra">
        <a-button ghost  style="color: blue" @click="dialogVisible = true"
            icon="info-circle">Help</a-button>
        <switchModule v-if="template.length != 0" :siteName="siteName"  from="deployFiles" :template="template"  />
        </div>
        <a-tabs defaultActiveKey="1" type="card">
            <a-tab-pane tab="Rsync"   key="1" >
                <rsync :environments="environments" :siteName="siteName"/>
            </a-tab-pane>
            <a-tab-pane tab="File by file"  key="2"> 
                <fileByFile :environments="environments"  :siteName="siteName"/>
            </a-tab-pane> 
        </a-tabs>
    </a-card>
</template>
<script>
import axios from '~/plugins/axios'
import _ from 'lodash';
import switchModule from '@/components/actions/switchModule';
import fileByFile from '@/components/actions/file-by-file';
import rsync from '@/components/actions/rsync';

export default {
    components : {
        switchModule,
        fileByFile,
        rsync
    },
    validate ({ params }) {
        // Doit être un nombre
        return /^[\w\.]+$/.test(params.siteName)
    },
    data() {
        return {
            siteName: '',
            environments: [],
            activeName: "rsync",
            template: '',
            rsyncPaths: [],
        }
    },
    created() {
        this.siteName = this.$route.params.siteName;
        axios.get('/api/sites/' + this.siteName)
            .then(response => {
                this.template = response.data.template;
                axios.get('/api/templates/' + this.template + '/envs')
                    .then(response => {
                        this.environments =  response.data;
                    }).catch(error => {
                        console.log(error)
                        this.loading = false;
                    });
            })
            .catch(error => {
                console.log("not found")
                window.location = '/sites' 
            })
    },
    methods: {
        runFileByFile(){
        },
    }

}
</script>

<style>
</style>
