<template>
    <a-form
        :model="template"
        >
        <a-form-item label="Name" :label-col="{ span: 2}" :wrapper-col="{ span: 12 }">
            <a-input v-model.trim="localTemplate.name"></a-input>
        </a-form-item>
        <a-form-item label="Description" :label-col="{ span: 2}" :wrapper-col="{ span: 12 }">
            <a-input v-model.trim="localTemplate.desc"></a-input>
        </a-form-item>
        <a-form-item label="client" :label-col="{ span: 2}" :wrapper-col="{ span: 12 }">
            <a-select v-model="localTemplate.platform" placeholder="Select">
                <a-select-option
                          v-for="platform in platforms"
                          :key="platform.name"
                          >{{platform.name}}
                </a-select-option>
            </a-select>
        </a-form-item>
    </a-form>
</template>


<script>
import axios from '~/plugins/axios';
import _ from 'lodash';
import { mapGetters, mapActions} from 'vuex';
export default {
    props: ['template'],

    data() {
        return {
            commandInfoVisible: false,
        }
    },
    computed: {
        ...mapGetters({
            platforms: 'platforms/get'

        }),
        ...mapActions({
            getPlatforms: 'platforms/getPlatforms'
        }),
        localTemplate: {
            get() {
                return this.template;
            },
            set(value) {
                this.$emit('update:template', value) 
            }
        }
    },
    created() {
        if(_.isEmpty(this.platforms)){
            this.getPlatforms
        }
    }
}
</script>
