<template>
    <div>
        <a-tabs :defaultActiveKey="defaultTable" type="card" >

            <a-tab-pane v-for="(module, index) in availableMods" :tab="module.name" :key="index">
                <a-card v-for="command in  module.cmds" :title="command.name" :key="command.name">
                    <a-button icon="bulb"
                        @click="getInfo(command)"
                        slot="extra">help</a-button>
                    <a-form  layout="horizontal" >
                        <a-form-item  label="run"
                                      :label-col="{ span: 1 }"
                                      :wrapper-col="{ span: 23 }"
                                      >
                                      <a-input v-model="localModules[module.name][command.name].run">
                                      </a-input>
                        </a-form-item>
                    </a-form>
                    <helpMe :commandInfoVisible.sync="commandInfoVisible" :module="help_module"> </helpMe>
                </a-card>
            </a-tab-pane>

        </a-tabs>
    </div>
</template>
<script>
import axios from '~/plugins/axios';
import _ from 'lodash';
import helpMe from '@/components/templates/modules-help'
import {
    mapGetters,
    mapActions
} from 'vuex';
export default {
    props: ['availableMods', 'templateMods'],
    components : {helpMe},

    data() {
        return {
            commandInfoVisible: false,
            availableModules: [],
            help_module: {},
            defaultTable: 0
        }
    },
    computed: {
        localModules: {
            get() {
                //this.defaultTable = this.templateMods[0].name;
                return this.templateMods;

            },
            set(value) {
                this.$emit('update:templateMods', value)
            }
        }
    },
    methods: {
        getInfo(module) {
             var mandatories_vars = module.mandatories_vars;
            for (var i= 0 ; i < mandatories_vars.length; i++) {
				if(mandatories_vars[i].type == "json"){
					mandatories_vars[i].pretty = JSON.stringify(JSON.parse(mandatories_vars[i].example),null,2)
				}else{
					mandatories_vars[i].pretty = mandatories_vars[i].example
				}
			}
            this.help_module = {...module, ...mandatories_vars};

            this.commandInfoVisible = true;
        },
    }
}
</script>
