<template>
    <a-modal :title="module.desc" :visible="localVisible" width="70%" :footer="null"  @cancel="handleOk">
        <a-tabs defaultActiveKey="1" type="card">
            <a-tab-pane tab="Mandatories variables" key="1">
                <a-list :dataSource="module.mandatories_vars">
                    <a-list-item slot="renderItem" slot-scope="item, index">
                        <a-card :title="item.name">
                            var name: {{item.name}} <br>
                            type: {{item.type}} <br>
                            <pre><code style="white-space:pre-wrap;"> {{ item.pretty}} </code></pre>
                        </a-card>
                    </a-list-item>
                </a-list>

            </a-tab-pane>
            <a-tab-pane tab="Sample commande" key="2">
                 All commands are prefixed with:
                 <pre><code>/bin/env SITE={form.site} ENV={form.environment}</code></pre> 
                <div>
                    <a-divider orientation="left">run</a-divider>
                    <pre><code>{{module.default_cmd}}</code></pre>
                    <a-divider orientation="left">backup</a-divider>
                    <pre><code>{{module.default_rollback}}</code></pre>
                </div>
            </a-tab-pane>
            <a-tab-pane tab="Command Variables"  key="3">
                <ul>
                    <li> form variables: 
                        <ul>
                            <li v-for="item in module.form"> {{item}} </li>

                        </ul>
                    </li>
                </ul>
            </a-tab-pane>
        </a-tabs>
    </a-modal>
</template>
<script>
import {
    mapGetters,
    mapActions
} from 'vuex';
export default {
    props: ['module', 'commandInfoVisible'],
    data() {
        return {
            variables: []
        }
    },
    computed: {
        localVisible: {
            get() { return this.commandInfoVisible },
            set(value) { this.$emit('update:commandInfoVisible', value)}
        },

    },
    methods:{
        handleOk(e) {
            this.localVisible = false;
        }
    }
}
</script>
