<template>
    <div>
        <a-form layout="inline">
            <a-form-item >
                <a-input  placeholder="template's name"  v-model.trim="new_template" />
            </a-form-item> 
                <a-form-item >
                    <a-button type="primary"  @click="addTpl">Add</a-button>
                </a-form-item> 
        </a-form>
        <a-collapse accordion v-if="exchanges.length > 0" >
            <a-collapse-panel v-for="exchange in exchanges" :key="exchange.name" :header="exchange.name" >
                <div class="mavonEditor">
                    <no-ssr>
                        <mavon-editor language="en" :toolbars="toolBarOptions" defaultOpen="edit" v-model="exchange.body" />
                    </no-ssr>
                <a-button type="primary" @click="RecordTpl(exchange.name)">Ok</a-button>
                </div>
            </a-collapse-panel>
        </a-collapse>
    </div>
</template>
<script>
import axios from '~/plugins/axios';
import _ from 'lodash';

export default {
    props: ['template'],
    data() {
        return {
            exchanges: [],
            new_template: '',
            help_readme: {},
            EditorVisible: false,
            toolBarOptions: { 
                italic: true,
                header: true,
                bold: true,
                underline: true,
                ol: true,
                ul: true,
                link: true,
                code: true,
                table: true,
                fullscreen: true,
                undo: true,
                redo: true,
                help: true,
                fullscreen: true,
                preview:true,
            },

        }
    },
    created() {
        axios.get('/api/exchanges/template/' + this.template)
            .then(response => {
                this.exchanges = response.data.exchanges;
            })
            .catch(error => {
            })
    },
    methods: {
        RecordTpl(index){
            const toSave = this.exchanges[index];
            if (typeof toSave.isNew != 'undefined' && toSave.isNew == true){
                axios.post('/api/exchanges' , _.omit(toSave, "isNew"))
                    .then(response => {
                        this.exchanges[index] =  _.omit(toSave, "isNew");
                    })
                    .catch(error => {
                    })
            }else{
                axios.put('/api/exchanges/' + toSave._id, _.omit(toSave, '_id'))
                    .then(response => {
                    })
                    .catch(error => {
                    })
            }

        },
        addTpl(){
            this.exchanges.push({name: this.new_template,
                body: 'my **test**',
                from: 'template_' + this.template,
                isNew: true})
        },
    }

}
</script>
