<template>
    <a-card :title="'Site: ' + job.site + ', '  +  job.environment" >
        <a-tabs defaultActiveKey="1" type="card">
            <a-tab-pane tab="Job's logs" key="1">
                Requested by:  {{job.user}} at {{job.strftime}}
                <pre> 
{{job.script}}
{{job.logs}}
{{job}}
                </pre>
            </a-tab-pane>
            <a-tab-pane tab="Rollback"  v-if="roolbackEnable"  key="2">
                Requested by:  {{job.rollback_user}} at {{job.rollback_date}}
                <pre> 
{{job.rollback_script}}
{{job.rollback_logs}}
                </pre>

            </a-tab-pane>
        </a-tabs>
    </a-card>
</template>

<script>
import axios from '~/plugins/axios';

export default {
    data() {
        return {
			loading: true,
            activeName: 'Run',
            job: '',
            roolbackEnable: false,
        }
    },
    created() {
        const id = this.$route.params.id;
        axios.get('/api/jobs/' + id)
        .then(response => {
			this.job = response.data;
            this.loading = false;
        }).catch(error => {
            this.loading = false;
            console.log(error)
        })
    },
}
</script>

<style>
</style>
