<template>
    <a-card title="Jobs since 15 days" v-if="!loading" >
        <a-collapse defaultActiveKey="4" accordion >
            <a-collapse-panel
                :header="jobsToQueu.length + ' jobs to queue'" 
                v-if="jobsToQueu.length > 0"
                key="1">
                <LogsQueu :jobs="jobsToQueu" />
            </a-collapse-panel>
            <a-collapse-panel 
                :header="jobsInQueu.length + ' jobs in queue'"
                v-if="jobsInQueu.length > 0"
                key="2">
                <LogsQueu :jobs="jobsInQueu" />
            </a-collapse-panel>
            <a-collapse-panel
                :header="jobsRunning.length + ' jobs running'"
                v-if="jobsRunning.length > 0"
                key="3">
                <LogsQueu :jobs="jobsRunning" />
            </a-collapse-panel>
            <a-collapse-panel :header="jobsFinished.length + ' jobs Finished'" key="4">
                <LogsQueu :jobs="jobsFinished" />
            </a-collapse-panel>
        </a-collapse>
    </a-card>
</template>

<script>
import axios from '~/plugins/axios';
import _ from 'lodash';
import LogsQueu from '@/components/LogsQueu';

var timeStampToSring = function(timeStamp){
    var d = new Date(timeStamp*1000);
    return d.toLocaleString().substring(0, d.toLocaleString().length - 3)
}
export default {
    components : {
        LogsQueu
    },
    data: function ()  {
        return {
            jobsToQueu: [],
            jobsInQueu: [],
            jobsRunning: [],
            jobsFinished: [],
            loading: true,
        }
    },
    created() {
        const days = (typeof this.$route.query.days === 'undefined') ? 15: this.$route.query.days;
        axios.get('/api/jobs?days=' + days)
            .then(response => {
                var data = response.data;
                var jobs = _.map(data, function(job){return _.merge(job, {strftime: timeStampToSring(job._id)})});
                console.log(jobs);
                this.jobsToQueu = _.filter(jobs, function(item){return item.state == 0});
                this.jobsInQueu =  _.filter(jobs, function(item){return item.state == 1});
                this.jobsRunning =  _.filter(jobs, function(item){return item.state == 2});
                this.jobsFinished = _.filter(jobs, function(item){return _.indexOf([3,4], item.state) >= 0});
                this.loading = false;
            }).catch(error => {
                this.loading = false;
                console.log(error)
            })
    },

}
</script>

<style>
</style>
